<link rel="apple-touch-icon" sizes="180x180" href="/medias/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/medias/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/medias/favicon-16x16.png">
<link rel="manifest" href="/medias/site.webmanifest">
<link rel="mask-icon" href="/medias/safari-pinned-tab.svg" color="#364f6b">
<link rel="shortcut icon" href="/medias/favicon.ico">
<meta name="msapplication-TileColor" content="#364f6b">
<meta name="msapplication-config" content="/medias/browserconfig.xml">
<meta name="theme-color" content="#364f6b">