#activities {
	display: flex;
	flex-direction: column;
	max-height: 95vh;
	margin: 0 1% 15vh 1%;
	padding: 1em;
	background-color: var(--blanc);
	border-radius: var(--border-radius2);
	box-shadow: var(--box-shadow);
	overflow-x: auto;

	&::-webkit-scrollbar-thumb {
		background-color: var(--vert);
	}

	& > h2 {
		text-align: center;
		text-transform: capitalize;
		font-weight: bold;
	}

	& > ul {
		flex: 1;
		padding: 0 5em;

		& > li.activity {
			display: flex;
			margin-bottom: 1em;
			align-items: center;
			justify-content: center;

			&:not(li.activity:only-child):nth-child(2) {
				border-top: medium solid var(--noir);
				padding-top: 1em;
			}

			&:nth-child(n+2) {
				flex-direction: row-reverse;

				& > div {
					align-items: flex-end;
				}
			}

			& > video, & > img {
				width: 30%;
				border-radius: var(--border-radius2);
				box-shadow: var(--box-shadow);
				border: thin solid black;
			}

			& > div {
				display: flex;
				flex-direction: column;
				margin: 1em;

				& > description {
					flex: 1;
				}

				& > tags {
					margin-top: 1em;

					& > tag {
						border-radius: var(--border-radius);
						background-color: var(--second-bg-color);
						padding: 0 0.5em;
					}
				}
			}
		}
	}

	& > p {
		text-align: center;
	}
}

@media (orientation: portrait) {
	#activities {
		max-height: initial;

		& > ul {
			padding: 0;

			& > li.activity {
				flex-direction: column !important;

				& > video, & > img {
					width: 100%;
				}
			}
		}
	}
}