#activities {
	display: flex;
	flex-direction: column;
	max-height: 95vh;
	margin: 0 1% 15vh 1%;
	padding: 1em;
	background-color: var(--blanc);
	border-radius: var(--border-radius2);
	box-shadow: var(--box-shadow);
	overflow-x: auto;
}

#activities::-webkit-scrollbar-thumb {
	background-color: var(--vert);
}

#activities > h2 {
	text-align: center;
	text-transform: capitalize;
	font-weight: bold;
}

#activities > ul {
	flex: 1;
	padding: 0 5em;
}

#activities > ul > li.activity {
	display: flex;
	margin-bottom: 1em;
	align-items: center;
	justify-content: center;
}

#activities > ul > li.activity:not(li.activity:only-child):nth-child(2) {
	border-top: medium solid var(--noir);
	padding-top: 1em;
}

#activities > ul > li.activity:nth-child(n+2) {
	flex-direction: row-reverse;
}

#activities > ul > li.activity:nth-child(n+2) > div {
	align-items: flex-end;
}

#activities > ul > li.activity > video, #activities > ul > li.activity > img {
	width: 30%;
	border-radius: var(--border-radius2);
	box-shadow: var(--box-shadow);
	border: thin solid black;
}

#activities > ul > li.activity > div {
	display: flex;
	flex-direction: column;
	margin: 1em;
}

#activities > ul > li.activity > div > description {
	flex: 1;
}

#activities > ul > li.activity > div > tags {
	margin-top: 1em;
}

#activities > ul > li.activity > div > tags > tag {
	border-radius: var(--border-radius);
	background-color: var(--second-bg-color);
	padding: 0 0.5em;
}

#activities > p {
	text-align: center;
}

@media (orientation: portrait) {
	#activities {
		max-height: initial;
	}

	#activities > ul {
		padding: 0;
	}

	#activities > ul > li.activity {
		flex-direction: column !important;
	}

	#activities > ul > li.activity > video, #activities > ul > li.activity > img {
		width: 100%;
	}
}
