.carte {
	height: 18em;
	width: 14em;
	position: relative;
	border-radius: var(--border-radius);
	overflow: hidden;
	box-shadow: var(--box-shadow), -1em 1em var(--main-bg-color);
	min-width: 14em;
	margin: 2em 1em;
}

.carte:not(:last-child) {
	cursor: pointer;
}

.carte section {
	background-color: var(--blanc);
	height: 10em;
	width: 14em;
	position: absolute;
	bottom: 0;
	transition: var(--transition);
	text-align: center;
}

.carte section p {
	padding: 0 0.3em;
}

.carte section h4 {
	letter-spacing: 0.5em;
	font-weight: normal;
}

.carte > div {
	height: 8em;
	width: 14.1em;
	position: absolute;
	top: 0;
	transition: var(--transition);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: var(--noir);
}

.carte:not(.bientot) > img {
	height: 2em;
	position: absolute;
	bottom: 1em;
	left: 1em;
	border-radius: 20%;
	box-shadow: var(--box-shadow);
}

.carte:hover section {
	height: 0;
	padding: 0 1em;
}

.carte:hover > div {
	height: 18.1em;
}

.bientot {
	background-color: var(--main-bg-color);
	background-image: url("../../medias/icons/more.svg");
	background-position-x: center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column-reverse;
	background-size: 70%;
	background-position-y: 30%;
	box-shadow: var(--box-shadow), -1em 1em var(--noir);
}

.bientot h4 {
	text-align: center;
	letter-spacing: 0.4em;
	color: var(--blanc);
}

/* Personnalisation */
#profil-card-icon {
	cursor: pointer;
}

.h4-letter {
	display: inline-block;
}
