#curriculum {
	display: none;
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: 3;
	background-color: rgba(1, 1, 1, 0.5);
}

#curriculum * {
	font-family: "Raleway", sans-serif;
}

#curriculum button {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	border-radius: var(--border-radius2);
	border: none;
	box-shadow: var(--box-shadow);
	background-color: #efefef;
}

#curriculum button > p {
	white-space: nowrap;
}

#curriculum button > img {
	height: 3em;
}

#curriculum > div {
	margin: 1em;
	padding: 1em;
	display: flex;
	flex: 1;
	background-color: var(--main-bg-color);
	border-radius: var(--border-radius2);
	flex-direction: column;
	overflow-y: auto;
	color: var(--blanc);
}

#curriculum > div > progress {
	width: 100%;
	height: 0.5em;
	border: none;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	transition: all 0.5s;
	min-height: 0.5em;
}

#curriculum > div > progress::-moz-progress-bar {
	border-radius: var(--border-radius);
	background-color: var(--vert);
}

#curriculum > div > progress::-webkit-progress-bar {
	background-color: lightgrey;
	border-radius: var(--border-radius);
}

#curriculum > div > progress::-webkit-progress-value {
	border-radius: var(--border-radius);
	background: var(--vert);
}

#curriculum > div > div {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#curriculum > div > ul {
	flex: 1;
	display: flex;
	margin-bottom: 2em;
}

#curriculum > div > ul > li {
	display: none;
	flex-direction: column;
	flex: 1;
}

#curriculum > div > ul > li > description {
	font-size: xx-large;
	text-align: center;
	margin: 1em 0;
}

#curriculum > div > ul > li:not(li:last-child) > ol > li:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: var(--border-radius);
	border: thin solid var(--blanc);
}

#curriculum > div > ul > li > ol {
	display: flex;
	flex: 1;
}

#curriculum > div > ul > li > ol > li {
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center;
	align-items: center;
	margin: 0 2%;
	cursor: pointer;
	position: relative;
	transition: all 0.5s;
	user-select: none;
	padding: 1em;
}

#curriculum > div > ul > li > ol > li:hover {
	font-size: 1.2em;
}

#curriculum > div > ul > li > ol > li > img {
	max-height: 12em;
}

#curriculum > div > ul > li > ol > li > p {
	margin: 1em 0 0 0;
}

#curriculum > div > ul > li:last-child > description {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin: 0;
}

#curriculum > div > ul > li:last-child > ol {
	align-items: flex-start;
	margin-top: 2em;
	flex-grow: 0;
}

#curriculum > div > ul > li:last-child > ol > li {
	flex-direction: inherit;
	cursor: inherit;
	margin: 0 10%;
}

#curriculum > div > nav {
	display: flex;
}

#curriculum > div > nav > button {
	max-width: max-content;
	margin: 0 1em 0 0;
}

#curriculum > div > nav > button:nth-child(2) {
	display: none;
}

@media (orientation: portrait) {
	#curriculum > div > ul > li > description {
		font-size: x-large;
	}

	#curriculum > div > ul > li > ol {
		flex-direction: column;
	}

	#curriculum > div > ul > li > ol > li {
		margin: 2% 10%;
	}

	#curriculum > div > ul > li > ol > li > img {
		max-height: 3em;
	}

	#curriculum > div > ul > li:last-child > ol {
		align-items: inherit;
	}

	#curriculum > div > ul > li:last-child > ol > li {
		align-items: inherit;
		flex-grow: 0;
	}
}
