#curriculum {
	display: none;
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: 3;
	background-color: rgba(0.5, 0.5, 0.5, 0.5);

	* {
		font-family: "Raleway", sans-serif;
	}

	button {
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1;
		border-radius: var(--border-radius2);
		border: none;
		box-shadow: var(--box-shadow);
		background-color: #efefef;

		& > p {
			white-space: nowrap;
		}

		& > img {
			height: 3em;
		}
	}

	& > div {
		margin: 1em;
		padding: 1em;
		display: flex;
		flex: 1;
		background-color: var(--main-bg-color);
		border-radius: var(--border-radius2);
		flex-direction: column;
		overflow-y: auto;
		color: var(--blanc);

		& > progress {
			width: 100%;
			height: 0.5em;
			border: none;
			border-radius: var(--border-radius);
			box-shadow: var(--box-shadow);
			transition: all 0.5s;
			min-height: 0.5em; // Necessary for mobile version

			// Firefox
			&::-moz-progress-bar {
				border-radius: var(--border-radius);
				background-color: var(--vert);
			}

			// Chrome & safari
			&::-webkit-progress-bar {
				background-color: lightgrey;
				border-radius: var(--border-radius);
			}

			&::-webkit-progress-value {
				border-radius: var(--border-radius);
				background: var(--vert)
			}
		}

		& > div {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		& > ul {
			flex: 1;
			display: flex;
			margin-bottom: 2em;

			& > li {
				display: none;
				//display: flex;
				flex-direction: column;
				flex: 1;

				& > description {
					font-size: xx-large;
					text-align: center;
					margin: 1em 0;
				}

				&:not(li:last-child) > ol > li:before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border-radius: var(--border-radius);
					border: thin solid var(--blanc);
				}

				& > ol {
					display: flex;
					flex: 1;

					& > li {
						display: flex;
						flex-direction: column;
						flex: 1;
						justify-content: center;
						align-items: center;
						margin: 0 2%;
						cursor: pointer;
						position: relative; // Pour le ::before
						transition: all 0.5s;
						user-select: none;
						padding: 1em;

						&:hover {
							font-size: 1.2em;
						}

						& > img {
							max-height: 12em;
						}

						& > p {
							margin: 1em 0 0 0;
						}
					}
				}

				&:last-child {
					& > description {
						display: flex;
						justify-content: center;
						align-items: flex-end;
						margin: 0;
					}

					& > ol {
						align-items: flex-start;
						margin-top: 2em;
						flex-grow: 0; // Changed in js to perform the animation

						& > li {
							flex-direction: inherit;
							cursor: inherit;
							margin: 0 10%;
						}
					}
				}
			}
		}

		& > nav {
			display: flex;

			& > button {
				max-width: max-content;
				margin: 0 1em 0 0;

				&:nth-child(2) {
					display: none;
				}
			}
		}
	}
}

@media (orientation: portrait) {
	#curriculum > div > ul > li {
		& > description {
			font-size: x-large;
		}

		& > ol {
			flex-direction: column;

			& > li {
				margin: 2% 10%;

				& > img {
					max-height: 3em;
				}
			}
		}

		&:last-child > ol {
			align-items: inherit;

			& > li {
				align-items: inherit;
				flex-grow: 0;
			}
		}
	}
}