#projects > ul > li:first-child {
	//transform: translateX(-100vw); // Retiré parce que si ce n'est pas inscrit directement sur l'élément du DOM, l'nimaton JS ne se fait pas lors du premier mouvement
	padding-top: 4em;

	/* Fonction de tri de l'affichage des expériences */
	& > menu {
		color: var(--blanc);
		display: flex;
		background-color: #1a7b43;
		padding: 0.5em;
		margin: 0 5% 1em 5%;
		border-radius: var(--border-radius2);

		& > p {
			font-weight: bold;
			margin: 0;
			font-size: x-large;
		}

		& > ol {
			display: flex;
			justify-content: center;
			flex: 1;

			& > li {
				user-select: none;
				border-radius: var(--border-radius2);
				border: medium dashed var(--blanc);
				flex: 1;
				margin: 0 1em;
				text-align: center;
				cursor: pointer;

				&[selected] {
					color: var(--noir);
					background-color: var(--blanc);
				}
			}
		}
	}

	& > ul {
		overflow-y: auto;

		& > li {
			display: flex;
			align-items: center;
			margin: 1em 5%;
			background-color: var(--blanc);
			border-radius: var(--border-radius2);
			padding: 1em;
			flex-wrap: wrap;

			& > p {
				margin: 1em 0 0 0;
				flex-basis: 100%;
				font-size: 1rem !important; /* Pour palier à un problème sur l'affichage mobile */
				overflow: hidden; // To hide when on mobile
			}

			& > div {
				display: flex;
				align-items: center;
				border-radius: var(--border-radius);
				padding: 0.2em;
				flex-basis: 10%;

				& > p {
					margin: 0 0.3em;
					flex: 1;
					text-align: center;
					text-transform: uppercase;
					font-family: 'Raleway', sans-serif;
					font-size: 0.8em;
					letter-spacing: 0.1em;
				}
			}

			& > hidebutton {
				display: none;
				flex: 1;
				align-items: center;
				justify-content: space-around;
				cursor: pointer;
				user-select: none;

				& > p {
					font-family: "Raleway", sans-serif;
					color: grey;
					font-size: smaller;
					font-style: italic;
				}

				& > img {
					height: 1em;
					transition: transform 1s;
				}
			}
		}
	}

	lieu {
		margin: 0;
		padding: 0 1em;
		flex: 1;
	}

	contexte {
		text-align: center;
		flex-basis: 100%;
		text-decoration: underline;
	}

	lieu, contexte, duree {
		font-family: 'Raleway', sans-serif;
		font-size: 0.9em;
	}

	.exp {
		background-color: lightgray;
		color: var(--main-bg-color);

		& > numero {
			height: 1.5em;
			width: 1.5em;
			border-radius: 50%;
			text-align: center;
			background-color: gray;
			color: var(--blanc);
		}
	}
}

/* Gestion de l'affichage sur téléphone en vertical */
@media (orientation: portrait) {

	#projects > ul > li:first-child {
		& > menu > ol {
			flex-wrap: wrap;

			& > li {
				flex-basis: 25%;
				margin: 0.25em;
			}
		}

		& > ul > li > lieu {
			padding-left: 0;
		}

		.exp {
			flex-basis: 100%;
			margin-bottom: 1em;
		}

		lieu, contexte, duree {
			flex-basis: 100%;
			padding: 0;
		}

		contexte {
			margin-top: 0.5em;
		}
	}
}
