@charset "UTF-8";
#projects > ul > li:first-child {
  padding-top: 4em;
  /* Fonction de tri de l'affichage des expériences */
}
#projects > ul > li:first-child > menu {
  color: var(--blanc);
  display: flex;
  background-color: #1a7b43;
  padding: 0.5em;
  margin: 0 5% 1em 5%;
  border-radius: var(--border-radius2);
}
#projects > ul > li:first-child > menu > p {
  font-weight: bold;
  margin: 0;
  font-size: x-large;
}
#projects > ul > li:first-child > menu > ol {
  display: flex;
  justify-content: center;
  flex: 1;
}
#projects > ul > li:first-child > menu > ol > li {
  user-select: none;
  border-radius: var(--border-radius2);
  border: medium dashed var(--blanc);
  flex: 1;
  margin: 0 1em;
  text-align: center;
  cursor: pointer;
}
#projects > ul > li:first-child > menu > ol > li[selected] {
  color: var(--noir);
  background-color: var(--blanc);
}
#projects > ul > li:first-child > ul {
  overflow-y: auto;
}
#projects > ul > li:first-child > ul > li {
  display: flex;
  align-items: center;
  margin: 1em 5%;
  background-color: var(--blanc);
  border-radius: var(--border-radius2);
  padding: 1em;
  flex-wrap: wrap;
}
#projects > ul > li:first-child > ul > li > p {
  margin: 1em 0 0 0;
  flex-basis: 100%;
  font-size: 1rem !important; /* Pour palier à un problème sur l'affichage mobile */
  overflow: hidden;
}
#projects > ul > li:first-child > ul > li > div {
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 0.2em;
  flex-basis: 10%;
}
#projects > ul > li:first-child > ul > li > div > p {
  margin: 0 0.3em;
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 0.8em;
  letter-spacing: 0.1em;
}
#projects > ul > li:first-child > ul > li > hidebutton {
  display: none;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  user-select: none;
}
#projects > ul > li:first-child > ul > li > hidebutton > p {
  font-family: "Raleway", sans-serif;
  color: grey;
  font-size: smaller;
  font-style: italic;
}
#projects > ul > li:first-child > ul > li > hidebutton > img {
  height: 1em;
  transition: transform 1s;
}
#projects > ul > li:first-child lieu {
  margin: 0;
  padding: 0 1em;
  flex: 1;
}
#projects > ul > li:first-child contexte {
  text-align: center;
  flex-basis: 100%;
  text-decoration: underline;
}
#projects > ul > li:first-child lieu, #projects > ul > li:first-child contexte, #projects > ul > li:first-child duree {
  font-family: "Raleway", sans-serif;
  font-size: 0.9em;
}
#projects > ul > li:first-child .exp {
  background-color: lightgray;
  color: var(--main-bg-color);
}
#projects > ul > li:first-child .exp > numero {
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  text-align: center;
  background-color: gray;
  color: var(--blanc);
}

/* Gestion de l'affichage sur téléphone en vertical */
@media (orientation: portrait) {
  #projects > ul > li:first-child > menu > ol {
    flex-wrap: wrap;
  }
  #projects > ul > li:first-child > menu > ol > li {
    flex-basis: 25%;
    margin: 0.25em;
  }
  #projects > ul > li:first-child > ul > li > lieu {
    padding-left: 0;
  }
  #projects > ul > li:first-child .exp {
    flex-basis: 100%;
    margin-bottom: 1em;
  }
  #projects > ul > li:first-child lieu, #projects > ul > li:first-child contexte, #projects > ul > li:first-child duree {
    flex-basis: 100%;
    padding: 0;
  }
  #projects > ul > li:first-child contexte {
    margin-top: 0.5em;
  }
}
