footer {
	z-index: 1;
	display: flex;
	flex-direction: column;
	margin-top: 10vh;


	& > div {
		flex-basis: 100%;
		display: flex;
		background-color: var(--noir);
		color: var(--blanc);
		padding: 0.5em;
		font-size: 0.7em;
		border-top-left-radius: var(--border-radius);
		border-top-right-radius: var(--border-radius);
		z-index: 2;
		margin: 0 2vw;
		justify-content: flex-end;

		& > mail {
			display: none;
			margin-top: 0.5em;

			& > a {
				color: var(--blanc);
			}
		}

		& > copyright {
			flex: 1;
			text-align: center;
			margin: 0;

			& > a {
				color: var(--second-bg-color);
			}
		}
	}

	& > ul {
		display: flex;

		& > li {
			display: flex;
			margin: 1vh 5vw 0 5vw;
			background-color: var(--blanc);
			border-top-left-radius: var(--border-radius);
			border-top-right-radius: var(--border-radius);
			height: min-content;
			flex: 1;
			box-shadow: var(--box-shadow);
			cursor: pointer;

			& > img {
				height: 3em;
			}

			& > div {
				padding: 0.3em 1vw 0 1vw;
				flex: 1;
				border-top-right-radius: var(--border-radius);
				overflow: hidden;

				& > * {
					margin: 0;
					text-align: center;
					width: 100%;
					transition: width var(--transition2), transform var(--transition2);
				}

				& > h5 {
					white-space: nowrap;
					align-items: center; /* Est utilisé avec js lors du click */
					justify-content: center; /* Est utilisé avec js lors du click */
					transform: translatey(100%);
				}

				& > p {
					transform: translatey(1.6em);
					text-transform: lowercase;
				}
			}

			&:hover {
				& > div {
					& > h5 {
						transform: translatey(0);
					}

					& > p {
						transform: translatey(0);
					}
				}
			}
		}
	}
}

@media (orientation: portrait) {
	footer {
		& > ul > li {
			justify-content: center;

			&:first-child {
				display: none;
			}

			& > div {
				display: none;
			}
		}


		& > div {
			flex-wrap: wrap;
			flex-basis: 100%;

			& > copyright {
				flex-basis: 100%;
			}

			& > mail {
				display: flex;
				flex: 1;
				justify-content: center;

				& > a {
					display: flex;
					align-items: flex-end;
				}
			}

			& > maj {
				text-align: center;
				margin-top: 0.5em;
				flex: 1;
			}
		}
	}
}