@charset "UTF-8";
footer {
	z-index: 1;
	display: flex;
	flex-direction: column;
	margin-top: 10vh;
}

footer > div {
	flex-basis: 100%;
	display: flex;
	background-color: var(--noir);
	color: var(--blanc);
	padding: 0.5em;
	font-size: 0.7em;
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	z-index: 2;
	margin: 0 2vw;
	justify-content: flex-end;
}

footer > div > mail {
	display: none;
	margin-top: 0.5em;
}

footer > div > mail > a {
	color: var(--blanc);
}

footer > div > copyright {
	flex: 1;
	text-align: center;
	margin: 0;
}

footer > div > copyright > a {
	color: var(--second-bg-color);
}

footer > ul {
	display: flex;
}

footer > ul > li {
	display: flex;
	margin: 1vh 5vw 0 5vw;
	background-color: var(--blanc);
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	height: min-content;
	flex: 1;
	box-shadow: var(--box-shadow);
	cursor: pointer;
}

footer > ul > li > img {
	height: 3em;
}

footer > ul > li > div {
	padding: 0.3em 1vw 0 1vw;
	flex: 1;
	border-top-right-radius: var(--border-radius);
	overflow: hidden;
}

footer > ul > li > div > * {
	margin: 0;
	text-align: center;
	width: 100%;
	transition: width var(--transition2), transform var(--transition2);
}

footer > ul > li > div > h5 {
	white-space: nowrap;
	align-items: center; /* Est utilisé avec js lors du click */
	justify-content: center; /* Est utilisé avec js lors du click */
	transform: translatey(100%);
}

footer > ul > li > div > p {
	transform: translatey(1.6em);
	text-transform: lowercase;
}

footer > ul > li:hover > div > h5 {
	transform: translatey(0);
}

footer > ul > li:hover > div > p {
	transform: translatey(0);
}

@media (orientation: portrait) {
	footer > ul > li {
		justify-content: center;
	}

	footer > ul > li:first-child {
		display: none;
	}

	footer > ul > li > div {
		display: none;
	}

	footer > div {
		flex-wrap: wrap;
		flex-basis: 100%;
	}

	footer > div > copyright {
		flex-basis: 100%;
	}

	footer > div > mail {
		display: flex;
		flex: 1;
		justify-content: center;
	}

	footer > div > mail > a {
		display: flex;
		align-items: flex-end;
	}

	footer > div > maj {
		text-align: center;
		margin-top: 0.5em;
		flex: 1;
	}
}
