header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	/* Titres principaux */
	& > hgroup {
		color: var(--blanc);
		flex: 1;
		margin-left: 50vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		user-select: none;

		& > h1 {
			font-size: 7vw;
			margin: 0;
			display: flex;
			justify-content: center;

			& > span {
				display: inline-block;
				overflow: hidden;
				padding-top: 0.3em;
				padding-bottom: 0.1em;

				& > span:first-child {
					text-transform: uppercase;
				}
			}
		}

		& > h2 {
			color: var(--vert);
			font-size: 1.5em;
			margin: 0 25% 0 0;
			text-decoration: underline;
			display: flex;
			justify-content: flex-end;
		}
	}

	/* Le svg de la lune en entête */
	& > div {
		visibility: hidden;
		position: absolute;
		top: -25vh;
		left: -25vh;
		stroke-width: 0.2em;
		z-index: 2;

		& > svg {
			height: 75vh;
			transform: rotate(50deg);
			border-radius: 50%;
			background-color: var(--noir);
		}

		path {
			transition: all 0.6s var(--transition);
		}
	}

	/* Annonces en haut de page */
	& > span {
		height: min-content;
		position: absolute;
		width: 100%;
		visibility: hidden;
		background-color: var(--vert);
		display: flex;
		align-items: center;
		justify-content: center;

		& > p {
			margin: 0;
			padding-left: 33%;

			/* Repoduction du text-transform: full-width de firefox */
			letter-spacing: 0.3em;
			font-weight: bold;
		}
	}
}

.letter { /* Chaque lettre du titre */
	display: inline-block;
	line-height: 1em;
}

/* Gestion de l'affichage sur téléphone ou tablette en vertical */
@media (orientation: portrait) {
	header {
		min-height: 50vh;

		& > div {
			top: -20vw;
			left: -20vw;

			& > svg {
				height: 50vw;
			}
		}

		& > p > span {
			letter-spacing: inherit;
		}

		& > hgroup {
			margin-left: inherit;
		}
	}
}
