@charset "UTF-8";
header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	/* Titres principaux */
	/* Le svg de la lune en entête */
	/* Annonces en haut de page */
}

header > hgroup {
	color: var(--blanc);
	flex: 1;
	margin-left: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	user-select: none;
}

header > hgroup > h1 {
	font-size: 7vw;
	margin: 0;
	display: flex;
	justify-content: center;
}

header > hgroup > h1 > span {
	display: inline-block;
	overflow: hidden;
	padding-top: 0.3em;
	padding-bottom: 0.1em;
}

header > hgroup > h1 > span > span:first-child {
	text-transform: uppercase;
}

header > hgroup > h2 {
	color: var(--vert);
	font-size: 1.5em;
	margin: 0 25% 0 0;
	text-decoration: underline;
	display: flex;
	justify-content: flex-end;
}

header > div {
	visibility: hidden;
	position: absolute;
	top: -25vh;
	left: -25vh;
	stroke-width: 0.2em;
	z-index: 2;
}

header > div > svg {
	height: 75vh;
	transform: rotate(50deg);
	border-radius: 50%;
	background-color: var(--noir);
}

header > div path {
	transition: all 0.6s var(--transition);
}

header > span {
	height: min-content;
	position: absolute;
	width: 100%;
	visibility: hidden;
	background-color: var(--vert);
	display: flex;
	align-items: center;
	justify-content: center;
}

header > span > p {
	margin: 0;
	padding-left: 33%;
	/* Repoduction du text-transform: full-width de firefox */
	letter-spacing: 0.3em;
	font-weight: bold;
}

.letter { /* Chaque lettre du titre */
	display: inline-block;
	line-height: 1em;
}

/* Gestion de l'affichage sur téléphone ou tablette en vertical */
@media (orientation: portrait) {
	header {
		min-height: 50vh;
	}

	header > div {
		top: -20vw;
		left: -20vw;
	}

	header > div > svg {
		height: 50vw;
	}

	header > p > span {
		letter-spacing: inherit;
	}

	header > hgroup {
		margin-left: inherit;
	}
}
