@charset "UTF-8";
::-webkit-scrollbar-track {
	background-color: var(--noir);
}

::-webkit-scrollbar-thumb {
	background-color: var(--blanc);
}

body {
	z-index: 3;
	flex-direction: column;
	background: linear-gradient(var(--noir) 5%, var(--main-bg-color) 30%) no-repeat;
	/* FOND */
}

body main {
	min-height: 300vh;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
}

body > #backgroundAnimation {
	z-index: -1;
	height: 100%;
	width: 100vw;
	/* Les étoiles de fond */
}

body > #backgroundAnimation > ul:first-child > li > svg {
	height: 3em;
	z-index: 2;
	position: absolute;
}

body > #backgroundAnimation > ul:nth-child(2) {
	position: absolute;
	width: 97vw; /* Pas 100 car si les étoiles sont placées sur les bords, il faut prendre en compte leur épaisseur qui dépasse */
	height: 99%; /* Pas 100 car si les étoiles sont placées sur les bords, il faut prendre en compte leur épaisseur qui dépasse */
	visibility: hidden;
	top: 0;
	left: 0;
}

.etoiles {
	position: absolute;
	border-radius: 50%;
	z-index: 1;
}

.explosion {
	position: absolute;
	border: 1px solid lightgrey;
	border-radius: 50%;
}

/* PROFIL */
#profil {
	min-height: 95vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2.5vh 1% 15vh 1%;
	/* TERMINAL */
}

#profil > terminal {
	height: 95vh;
	width: 100% !important;
	visibility: hidden;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

#profil > terminal a {
	color: white;
}

#profil > terminal > [data-ty] {
	margin: 1em 0 0 0;
	line-height: 1.5;
	display: none;
}

#profil > terminal[data-termynal].fr::after {
	content: "Profil - DENÉCHÈRE Killian";
}

#profil > terminal[data-termynal].en::after {
	content: "Profile - DENÉCHÈRE Killian";
}

#profil > terminal[data-termynal]::after {
	color: var(--blanc);
	font-weight: bold;
	padding-left: 20%;
	width: 80%;
	padding-top: 0.2em;
}

#profil > terminal[data-termynal] > p::before {
	color: var(--vert);
}

#profil [data-tydata-ty-error] {
	color: var(--vert);
}

#profil profil {
	display: none;
	flex-direction: column;
	width: 100%;
	justify-content: space-evenly;
}

#profil profil > div {
	display: flex;
	overflow-x: hidden;
	height: max-content;
}

#profil profil > div > ul {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#profil profil > div > ul > h2 {
	margin: 0;
}

#profil profil > div > ul > h2:first-child {
	font-size: 5vw;
	text-align: center;
}

#profil profil > div > ul > h2:last-child {
	font-size: 3vw;
	color: var(--vert);
	transition: var(--transition);
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#profil profil > div > ul > h2:last-child > a {
	color: var(--blanc);
}

#profil profil > div > img {
	width: 15em;
	border-radius: 50%;
	padding: 2vh;
	background-color: var(--vert);
	box-shadow: var(--box-shadow);
	cursor: pointer;
}

@media (orientation: portrait) {
	header > span > p {
		letter-spacing: inherit;
	}

	header > hgroup > h2 {
		margin: 0;
		text-align: center;
	}

	#profil > terminal {
		padding-left: 0.5em;
		padding-right: 0.5em;
		height: inherit;
		min-height: inherit !important;
	}

	#profil profil {
		padding: 0;
	}

	#profil profil > div {
		flex-direction: column;
		flex: 1;
		align-items: center;
	}

	#profil profil > div > ul > h2 {
		margin: 0.5em !important;
	}

	#profil profil > div > img {
		cursor: initial;
	}
}
