// Scrollbar
::-webkit-scrollbar-track {
	background-color: var(--noir);
}

::-webkit-scrollbar-thumb {
	background-color: var(--blanc);
}


body {
	z-index: 3;
	flex-direction: column;
	background: linear-gradient(var(--noir) 5%, var(--main-bg-color) 30%) no-repeat;

	main {
		min-height: 300vh; // The amount of sections in the main
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
	}

	/* FOND */
	& > #backgroundAnimation {
		z-index: -1;
		height: 100%;
		width: 100vw;

		// Les comètes
		& > ul:first-child > li > svg {
			height: 3em;
			z-index: 2;
			position: absolute;
		}

		/* Les étoiles de fond */
		& > ul:nth-child(2) {
			position: absolute;
			width: 97vw; /* Pas 100 car si les étoiles sont placées sur les bords, il faut prendre en compte leur épaisseur qui dépasse */
			height: 99%; /* Pas 100 car si les étoiles sont placées sur les bords, il faut prendre en compte leur épaisseur qui dépasse */
			visibility: hidden;
			top: 0;
			left: 0;
		}
	}
}

.etoiles {
	position: absolute;
	border-radius: 50%;
	z-index: 1;
}

.explosion {
	position: absolute;
	border: 1px solid lightgrey;
	border-radius: 50%;
}


/* PROFIL */
#profil {
	min-height: 95vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2.5vh 1% 15vh 1%;

	/* TERMINAL */
	& > terminal {
		height: 95vh;
		width: 100% !important;
		visibility: hidden;
		display: flex;
		flex-direction: column;
		overflow-y: auto;

		& a {
			color: white;
		}

		& > [data-ty] {
			margin: 1em 0 0 0;
			line-height: 1.5;
			display: none;
		}

		&[data-termynal] {
			&.fr::after {
				content: "Profil - DENÉCHÈRE Killian";
			}

			&.en::after {
				content: "Profile - DENÉCHÈRE Killian";
			}

			&::after {
				color: var(--blanc);
				font-weight: bold;
				padding-left: 20%;
				width: 80%;
				padding-top: 0.2em;
			}

			& > p::before {
				color: var(--vert);
			}
		}
	}

	[data-tydata-ty-error] {
		color: var(--vert);
	}

	profil {
		display: none;
		flex-direction: column;
		width: 100%;
		justify-content: space-evenly;

		& > div {
			display: flex;
			overflow-x: hidden;
			height: max-content;

			& > ul {
				flex: 1;
				display: flex;
				flex-direction: column;
				justify-content: center;

				& > h2 {
					margin: 0;

					&:first-child {
						font-size: 5vw;
						text-align: center;
					}

					&:last-child {
						font-size: 3vw;
						color: var(--vert);
						transition: var(--transition);
						flex: 1;
						display: flex;
						align-items: center;
						justify-content: center;
						flex-direction: column;

						& > a {
							color: var(--blanc);
						}
					}
				}
			}

			& > img {
				width: 15em;
				border-radius: 50%;
				padding: 2vh;
				background-color: var(--vert);
				box-shadow: var(--box-shadow);
				cursor: pointer;
			}
		}
	}
}

@media (orientation: portrait) {
	header {
		& > span > p {
			letter-spacing: inherit;
		}

		& > hgroup > h2 {
			margin: 0;
			text-align: center;
		}
	}

	#profil {
		& > terminal {
			padding-left: 0.5em;
			padding-right: 0.5em;
			height: inherit;
			min-height: inherit !important;
		}

		profil {
			padding: 0;

			& > div {
				flex-direction: column;
				flex: 1;
				align-items: center;

				& > ul > h2 {
					margin: 0.5em !important;
				}

				& > img {
					cursor: initial;
				}
			}
		}
	}
}