@charset "UTF-8";
#projects > ul > li:last-child {
	padding-top: 5em;
}

#projects > ul > li:last-child > article {
	display: flex;
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
	padding-top: 2em;
	margin-bottom: 1em;
}

#projects > ul > li:last-child > article > div {
	background-color: var(--blanc);
	width: 0.3em;
	border-bottom-left-radius: var(--border-radius2);
	border-bottom-right-radius: var(--border-radius2);
	position: absolute;
	left: 50%;
}

#projects > ul > li:last-child > article > div > div {
	height: 3vh;
	width: 3vh;
	position: absolute;
	left: -1.7vh;
	border-radius: 50%;
	border: 0.5vh solid var(--blanc);
	top: -3.7vh;
}

#projects > ul > li:last-child > article > div > div::before {
	content: "";
	height: 50%;
	position: absolute;
	width: 50%;
	background-color: var(--blanc);
	border-radius: 50%;
	left: 25%;
	top: 25%;
}

#projects > ul > li:last-child > article > ul {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin: 3vh 0;
}

#projects > ul > li:last-child > article > ul > li {
	width: 45%;
	background-color: var(--blanc);
	border-radius: var(--border-radius);
	margin-bottom: 5vh;
}

#projects > ul > li:last-child > article > ul > li > h4 {
	text-align: center;
	color: var(--main-bg-color);
	margin-top: 0.5vh;
}

#projects > ul > li:last-child > article > ul > li > p {
	margin: 1em;
}

#projects > ul > li:last-child > article > ul > li[origine=droite] {
	transform: translateX(100vw);
}

#projects > ul > li:last-child > article > ul > li[origine=droite]::before {
	transform: translateX(-1.5vw);
}

#projects > ul > li:last-child > article > ul > li[origine=droite] > div {
	left: -70px;
}

#projects > ul > li:last-child > article > ul > li[origine=gauche] {
	transform: translateX(-50vw);
}

#projects > ul > li:last-child > article > ul > li[origine=gauche]::after {
	transform: translateX(2vw);
	right: 0;
}

#projects > ul > li:last-child > article > ul > li[origine=gauche] > div {
	right: -55px;
}

#projects > ul > li:last-child > article > ul > li[origine=droite]::before, #projects > ul > li:last-child > article > ul > li[origine=gauche]::after {
	content: "";
	background-color: var(--blanc);
	width: 2vw;
	position: absolute;
	height: 0.5vw;
	top: 49%;
}

#projects > ul > li:last-child > article > ul > li > div {
	position: absolute;
	height: 100%;
	width: 3vw;
	display: flex;
	opacity: 0;
	transition: var(--transition);
	align-items: center;
}

#projects > ul > li:last-child > article > ul > li > div > img {
	height: 2.5em;
}

/* Gestion de l'affichage sur téléphone ou tablette en vertical */
@media (orientation: portrait) {
	#projects > ul > li:last-child > article {
		padding-top: 0;
	}

	#projects > ul > li:last-child > article > div {
		visibility: hidden;
	}

	#projects > ul > li:last-child > article > ul {
		padding: 1em;
	}

	#projects > ul > li:last-child > article > ul > li {
		width: 100% !important;
		transform: translateX(0) !important;
		margin-bottom: 1em;
	}

	#projects > ul > li:last-child > article > ul > li > div, #projects > ul > li:last-child > article > ul > li::before, #projects > ul > li:last-child > article > ul > li::after {
		display: none;
	}
}
