#projects > ul > li:last-child {
	//transform: translateX(100vw); // Retiré parce que si ce n'est pas inscrit directement sur l'élément du DOM, l'nimaton JS ne se fait pas lors du premier mouvement
	padding-top: 5em;

	& > article {
		display: flex;
		position: relative;
		overflow-y: auto;
		overflow-x: hidden;
		padding-top: 2em;
		margin-bottom: 1em;

		& > div {
			background-color: var(--blanc);
			width: 0.3em;
			border-bottom-left-radius: var(--border-radius2);
			border-bottom-right-radius: var(--border-radius2);
			position: absolute;
			left: 50%;

			& > div {
				height: 3vh;
				width: 3vh;
				position: absolute;
				left: -1.7vh;
				border-radius: 50%;
				border: 0.5vh solid var(--blanc);
				top: -3.7vh;

				&::before {
					content: "";
					height: 50%;
					position: absolute;
					width: 50%;
					background-color: var(--blanc);
					border-radius: 50%;
					left: 25%;
					top: 25%;
				}
			}
		}

		& > ul {
			flex: 1;
			display: flex;
			flex-direction: column;
			margin: 3vh 0;

			& > li {
				width: 45%;
				background-color: var(--blanc);
				border-radius: var(--border-radius);
				margin-bottom: 5vh;

				& > h4 {
					text-align: center;
					color: var(--main-bg-color);
					margin-top: 0.5vh;
				}

				& > p {
					margin: 1em;
				}

				&[origine = 'droite'] {
					transform: translateX(100vw);

					&::before {
						transform: translateX(-1.5vw);
					}

					& > div {
						left: -70px;
					}
				}

				&[origine = 'gauche'] {
					transform: translateX(-50vw);

					&::after {
						transform: translateX(2vw);
						right: 0;
					}

					& > div {
						right: -55px;
					}
				}

				&[origine = 'droite']::before,
				&[origine = 'gauche']::after {
					content: "";
					background-color: var(--blanc);
					width: 2vw;
					position: absolute;
					height: 0.5vw;
					top: 49%;
				}

				& > div {
					position: absolute;
					height: 100%;
					width: 3vw;
					display: flex;
					opacity: 0;
					transition: var(--transition);
					align-items: center;

					& > img {
						height: 2.5em;
					}
				}
			}
		}
	}
}

/* Gestion de l'affichage sur téléphone ou tablette en vertical */
@media (orientation: portrait) {
	#projects > ul > li:last-child > article {
		padding-top: 0;

		// Hide the vertical middle bar
		& > div {
			//display: none;
			visibility: hidden;
		}

		& > ul {
			padding: 1em;

			// Make items take full size
			& > li {
				width: 100% !important;
				transform: translateX(0) !important;
				margin-bottom: 1em;

				// Hide icons
				& > div, &::before, &::after {
					display: none;
				}
			}
		}
	}
}
