#projects {
	height: 100vh;
	margin-bottom: 25vh;

	& > ul {
		display: flex;
		margin-top: 2.5vh; /* Les 5vh que je répartis en marge haut et bas */

		& > li {
			height: 95vh;
			background-color: var(--vert);
			border-radius: var(--border-radius2);
			box-shadow: var(--box-shadow);
			display: flex;
			flex-direction: column;
			margin: 0 1%;
			padding-top: 4em;
			position: absolute;
			width: 98%;
			overflow: hidden;

			/* Liste des projets */
			&:nth-child(2) > ul {
				padding: 0 10vw;
				display: flex;
				justify-content: space-evenly;
				overflow-y: auto;
				overflow-x: hidden;
				flex-wrap: wrap;

				/* Utilisé pour créer une marge en bas de la liste des cartes */
				&::after {
					content: "";
					display: block;
					height: 1em;
					width: 100%;
				}
			}
		}
	}

	/* Menu pour la navigation inter-sections */
	& > menu {
		width: 100%;
		position: absolute;
		z-index: 1;
		animation: float 6s ease-in-out infinite;
		display: flex;
		justify-content: center;
		font-size: 1.2em;

		& > li {
			background-color: var(--blanc);
			padding: 1em 2em;
			position: relative;
			text-align: center;
			text-transform: capitalize;
			font-weight: bold;
			cursor: pointer;

			&:first-child {
				border-top-left-radius: var(--border-radius2);
				border-bottom-left-radius: var(--border-radius2);

				&::after {
					right: 0;
				}
			}

			&:last-child {
				border-top-right-radius: var(--border-radius2);
				border-bottom-right-radius: var(--border-radius2);

				&::before {
					left: 0;
				}
			}

			&:first-child::after,
			&:last-child::before {
				content: "";
				border-right: medium solid var(--main-bg-color);
				position: absolute;
				height: 50%;
				top: 25%;
			}
		}
	}
}

// These rules are seperated for safari understanding
.underline {
	text-decoration-thickness: 3px;
	text-decoration-color: var(--vert);
	text-decoration-line: overline;
}

/* Gestion de l'affichage sur téléphone en vertical */
@media (orientation: portrait) {
	#projects {
		//margin-bottom: 10vh;
		//height: inherit;

		& > menu > li {
			padding: 0.5em;
			flex-basis: 25%;
		}

		//& > ul > li {
		//	height: auto;
		//}
	}
}

@media (device-width < 900px) {
	#projects > ul > li:nth-child(2) > ul {
		padding: 0 10vw;
	}
}

@media (device-width < 500px) {
	#projects > ul > li:nth-child(2) > ul {
		padding: 0 5vw;
	}
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

