#references {
	background-color: var(--blanc);
	margin: 0 1%;
	padding: 0 1em;
	border-radius: var(--border-radius2);
	box-shadow: var(--box-shadow);
}

#references > h2 {
	text-align: center;
}

#references > ul {
	display: flex;
	overflow-x: hidden;
}

#references > ul > li {
	margin: 0 3em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#references > ul > li > p {
	visibility: hidden;
	margin: 0.2em 0 0 0;
	padding: 0;
	font-family: system-ui;
	text-align: center;
	user-select: none;
	-webkit-user-select: none;
}

#references > ul > li:hover > p {
	visibility: visible;
}

#references > ul > li > img {
	height: 3em;
	user-select: none;
	-webkit-user-select: none;
}
