#references {
	background-color: var(--blanc);
	margin: 0 1%;
	padding: 0 1em;
	border-radius: var(--border-radius2);
	box-shadow: var(--box-shadow);

	& > h2 {
		text-align: center;
	}

	& > ul {
		display: flex;
		overflow-x: hidden;

		& > li {
			margin: 0 3em;
			display: flex;
			flex-direction: column;
			align-items: center;

			& > p {
				visibility: hidden;
				margin: 0.2em 0 0 0;
				padding: 0;
				font-family: system-ui;
				text-align: center;
				user-select: none;
				-webkit-user-select: none;
			}

			&:hover > p {
				visibility: visible;
			}

			& > img {
				height: 3em;
				user-select: none;
				-webkit-user-select: none;
			}
		}
	}
}