@charset "UTF-8";
/* Le bouton d'accès */
#options {
	/* La boite des paramètres */
}

#options > img {
	position: fixed;
	top: 1em;
	left: 1em;
	height: 2.5em;
	cursor: pointer;
	z-index: 3;
	transition: var(--transition);
}

#options > img:hover {
	transform: rotate(50deg);
}

#options > section {
	position: fixed;
	top: 1.5em;
	left: -50em; /* Changé après en js */
	background-color: var(--blanc);
	padding: 1em;
	z-index: 3;
	box-shadow: var(--box-shadow), -0.5em 0.5em var(--vert);
	transition: var(--transition);
	border-radius: var(--border-radius2);
}

#options > section > h4 {
	margin: 0;
	text-align: center;
	color: var(--main-bg-color);
}

#options > section > p {
	margin-bottom: 0;
	font-weight: bold;
	color: var(--main-bg-color);
}

#options > section > ul > li {
	display: flex;
	cursor: pointer;
	position: relative;
}

#options > section > ul > li > img, #options > section > ul > li > svg {
	height: 1.2em;
	margin-right: 1em;
	width: 1.2em;
	padding: 0.05em;
	background-color: var(--noir);
	border-radius: 50%;
}

#options > section > ul > li > svg > g {
	fill: var(--blanc);
}

#options > section > ul > li[actif]::after {
	content: url("../../medias/icons/home/check.svg");
	position: absolute;
	z-index: 1;
	width: 1.2em;
	bottom: 0;
	left: 0.8em;
	height: 70%;
}

#options > section > ul > li > p {
	margin: 0;
}

@media (orientation: portrait) {
	#options > img {
		cursor: initial;
	}

	#options > img:hover {
		transform: inherit;
	}
}
