.carousel {
	overflow: hidden;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	//min-height: 30vh;

	// Flèches de navigation
	& > img {
		border-radius: 50%;
		height: 2vh;
		background-color: var(--vert);
		padding: 0.3em;
		cursor: pointer;
		transition: all 0.2s;
		box-shadow: var(--box-shadow);

		&:active {
			box-shadow: none;
		}

		&:first-child {
			transform: rotate(180deg);
		}
	}

	// Bulles de navigation
	& > ol {
		flex-basis: 100%;
		display: flex;
		justify-content: center;

		& > div {
			height: 1vh;
			width: 1vh;
			border-radius: 50%;
			margin: 0 0.2em;
			border: thin solid var(--main-bg-color);
			cursor: pointer;

			&.actif {
				background-color: var(--vert);
			}
		}
	}

	// Medias list
	& > ul {
		display: flex;
		justify-content: center;
		width: 75%;
		height: 80%;
		overflow: hidden;
		position: relative;
		align-items: center;
		border-radius: var(--border-radius);

		& > img, & > video {
			height: 100%;
			position: absolute;
			transition: transform var(--transition2);
			cursor: pointer;
			border-radius: var(--border-radius);
		}
	}
}

// Commentaires
.carousel .commentaire,
.image .commentaire {
	display: none;
}

.fondMenuMobile {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 2;
}

@media (orientation: portrait), (max-width: 900px) {
	.carousel {
		min-height: 70vh;
		max-height: 40%;
	}
}

@media (max-width: 600px) {
	.carousel {
		min-height: 40vh;
	}
}