@charset "UTF-8";
* {
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--main-bg-color);
  overflow: hidden;
  /* Boutton de retour à l'accueil */
}
body > p {
  margin-bottom: 5vh;
  flex: inherit;
  color: var(--blanc);
}
body > p > span {
  text-align: center;
}
body > button {
  background-color: var(--blanc);
  padding: 0.2em 0.5em;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius2);
  color: var(--main-bg-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
body > button > img {
  height: 3em;
}
