* {
	user-select: none;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: var(--main-bg-color);
	overflow: hidden;

	& > p {
		margin-bottom: 5vh;
		flex: inherit;
		color: var(--blanc);

		& > span {
			text-align: center;
		}
	}

	/* Boutton de retour à l'accueil */
	& > button {
		background-color: var(--blanc);
		padding: 0.2em 0.5em;
		box-shadow: var(--box-shadow);
		border-radius: var(--border-radius2);
		color: var(--main-bg-color);
		cursor: pointer;
		display: flex;
		align-items: center;
		text-transform: uppercase;

		& > img {
			height: 3em;
		}
	}
}