<section id="curriculum">
    <div>
        <progress value="0" max="100"></progress>
        <div>
            <p></p>
            <step><%= translation.Curriculum_step_current %> <current>X</current> <%= translation.Curriculum_step_amount %> <total>X</total></step>
        </div>

        <ul>
            <li>
                <description><%= translation.Curriculum_option1_description %></description>
                <ol>
                    <li value="en">
                        <img src="<%= urls.sharedIcons %>flag_en.svg" alt="<%= translation.Curriculum_option1_choice1_alt %>" />
                        <p><%= translation.Curriculum_option1_choice1 %></p>
                    </li>
                    <li value="fr">
                        <img src="<%= urls.sharedIcons %>flag_fr.svg" alt="<%= translation.Curriculum_option1_choice2_alt %>" />
                        <p><%= translation.Curriculum_option1_choice2 %></p>
                    </li>
                </ol>
            </li>

            <%# Nedd to be added in the next version
            <li>
                <description>Faut-il inclure ma photo ?</description>
                <ol>
                    <li>
                        <img src=`${urls.homeIcons}with_image.webp` alt="" />
                        <p>Avec photo</p>
                    </li>
                    <li>
                        <img src=`${urls.homeIcons}without_image.webp` alt="" />
                        <p>Sans photo</p>
                    </li>
                </ol>
            </li>
            %>

            <li>
                <description><%= translation.Curriculum_last_option_description %></description>
                <ol>
                    <li>
                        <button>
                            <img src="<%= urls.homeIcons %>view.webp" alt="<%= translation.Curriculum_last_option_choice1_alt %>" />
                            <p><%= translation.Curriculum_last_option_choice1 %></p>
                        </button>
                    </li>
                    <li>
                        <button>
                            <img src="<%= urls.homeIcons %>save.svg" alt="<%= translation.Curriculum_last_option_choice2_alt %>" />
                            <p><%= translation.Curriculum_last_option_choice2 %></p>
                        </button>
                    </li>
                </ol>
            </li>
        </ul>

        <nav>
            <button>
                <img src="<%= urls.sharedIcons %>close.svg" alt="<%= translation.Curriculum_close_button_alt %>" />
                <p><%= translation.Curriculum_close_button %></p>
            </button>
            <button>
                <img src="<%= urls.homeIcons %>previous.webp" alt="<%= translation.Curriculum_back_button_alt %>" />
                <p><%= translation.Curriculum_back_button %></p>
            </button>
        </nav>
    </div>
</section>