<li style="transform: translateX(100vw);">
    <article>
        <div>
            <div></div>
        </div>

        <ul>
            <% for (const parcours of portfolio.parcours) { %>
                <li origine="<%= parcours.origine %>">
                    <h4><%= parcours.annee %> ● <%= parcours.lieu[lang] %></h4>
                    <p><%- parcours.description[lang] %>.</p>
                </li>
            <% } %>
        </ul>
    </article>
</li>
