<li>
    <ul>
        <% for (const project of projectsList) { %>
            <li class="carte"
                onclick="<%= (project.carte.redirection === "") ? `location.href='/project/${project.carte.url}/0${lang !== 'fr' ? '?lang='+lang : ''}'` : `window.open('${project.carte.redirection}', target="_blank")` %>" >

                <div title="<%= translation.Projects_project_picture_title %>"
                     style="<%= project.carte.image ? `background-image: url('${urls.projects}${project.carte.image}');` : `background-image: url('${urls.sharedIcons}404.svg'); background-color: var(--noir);` %>" ></div>

                <section>
                    <h4><%= project.titre || 'No description' %></h4>
                    <p><%= project.carte.description[lang] %></p>
                </section>
            </li>
        <% } %>

        <li class="carte bientot">
            <h4><%= translation.Projects_card_more %></h4>
        </li>
    </ul>
</li>