<li style="transform: translateX(-100vw);">
    <menu>
<!--        <p><%= translation.Experiences_sort %></p>-->
        <ol>
            <li selected><%= translation.Experiences_sort_all %></li>
            <% for (const typeEvenement of listeTypeEvenements) { %>
                <li><%= typeEvenement %></li>
            <% } %>
        </ol>
    </menu>

    <ul>
        <% let i = portfolio.experiences.length;
        for (const experience of portfolio.experiences) { %>
            <li>
                <div class="exp">
                    <numero><%= i %></numero>
                    <p><%- experience.type[lang] %></p>
                </div>
                <lieu><%- experience.lieu[lang] %></lieu>
                <duree><%- experience.duree[lang] %></duree>
                <contexte><%- experience.contexte[lang] %></contexte>

                <p><%- experience.description[lang] %>.</p>

                <%# Displayed when on smartphone %>
                <hidebutton>
                    <img src="<%= urls.homeIcons %>collapse_arrow.webp" alt="<%= translation.Experiences_display_button_alt %>"/>
                    <p><%= translation.Experiences_display_description %></p>
                    <img src="<%= urls.homeIcons %>collapse_arrow.webp" alt="<%= translation.Experiences_display_button_alt %>"/>
                </hidebutton>
            </li>
        <% i--;
        } %>
    </ul>
</li>
