<% const displayMedia = (image, style, modeVignette, altText) => { %>
    <% if (image.endsWith('.mp4')) { %>
        <video controls style="<%- style %>">
            <source src="<%= `${urls.projects}${image}` %>" type="video/mp4">
            <p>Video not supported</p>
        </video>
    <% } else { %>
        <img style="<%- style %>" <% if (modeVignette) { %>modeVignette
                <% } %>
             src="<%= `${urls.projects}${image}` %>" onerror="this.setAttribute('src', `<%= urls.sharedIcons %>404.svg`);" alt="<%= altText %>">
    <% } %>
<% } %>

<section style="<%- section.style %>">

    <% if(section.titre === undefined) { %>
        <%- include('./shared_errors.ejs', { erreur: erreurs.conteneur.titreManquant, aide: erreurs.conteneur.aide }) %>
    <% } else {

        if (section.titre.style === undefined) {
            section.titre.style = "";
        }

    if (section.titre[lang]) { %>
        <h3 style="<%- section.titre.style %>">
            <%= section.titre[lang] %>
        </h3>
    <% }

            switch (section.mode) {
    case 'carousel' :
        // Vérification de la structure
    if (section.listeImages === undefined) { %>
        <%- include('./shared_errors.ejs', { erreur: erreurs.carousel.sansListeImages, aide: erreurs.carousel.aide }) %>
    <% break;
    }

        // Affichage description
    if (section.description && section.description[lang]) { %>
        <p><%- section.description[lang] %></p>
    <% } %>

    <div class="carousel" idMain="<%= idMain %>">
        <%# Affichage liste medias & commentaires %>
        <% if (section.listeImages.length > 0) { %>
            <img src="<%= urls.projectIcons %>fleche_droite.svg" alt="<%= translation.Project_content_carousel_going_left %>" title="<%= translation.Project_content_carousel_going_left %>">

            <ul>
                <% for (const image of section.listeImages) {
                    if (image.commentaire === undefined) {
                        image.commentaire = {};
                    }

                if (image.lien === undefined) { %>
                    <%- include('./shared_errors.ejs', { erreur: erreurs.image.sansLien, aide: erreurs.image.aide }) %>
                <% break;
                } %>

                <% if (image.lien.endsWith('.mp4')) { %>
                    <p class="commentaire"><%- image.commentaire[lang] %></p>
                    <video controls>
                        <source src="<%= image.lien.startsWith("http") ? image.lien : `${urls.projects}${image.lien}` %>" type="video/mp4">
                        <p>Video not supported</p>
                    </video>
                <% } else { %>
                    <p class="commentaire"><%- image.commentaire[lang] %></p>
                    <img src="<%= image.lien ? (image.lien.startsWith("http") ? image.lien : `${urls.projects}${image.lien}`) : `${urls.sharedIcons}404.svg` %>" alt="<%= translation.Project_content_carousel_image_alt %>" onerror="this.setAttribute('src',`<%= urls.sharedIcons %>404.svg`);"/>
                <% } %>
                <% } %>
            </ul>

            <img src="<%= urls.projectIcons %>fleche_droite.svg" alt="<%= translation.Project_content_carousel_going_right %>" title="<%= translation.Project_content_carousel_going_right %>">

            <ol>
                <%# Toutes les petites bulles de navigation %>
            </ol>
        <% } else { %>
            <p><%= translation.Project_content_carousel_no_image %></p>
        <% } %>
    </div>
    <% break;

    case 'imageEtTexte' : %>
    <div class="imageEtTexte" style="<%- section.style %>">
        <%# Vérifications de la structure de l'élément %>
        <% if(section.donnees === undefined) { %>
            <%- include('./shared_errors.ejs', { erreur: erreurs.conteneur.donneesManquante, aide: erreurs.conteneur.aide }) %>
        <% break;
        }
            if (section.donnees.texteEnPremier === undefined) {
                section.donnees.texteEnPremier = true
            }
            if (section.donnees.modeVignette === undefined) {
                section.donnees.modeVignette = false
            }
            if (section.donnees.style === undefined) {
                section.donnees.style = "";
            }
        if(section.donnees.titre === undefined) { %>
            <%- include('./shared_errors.ejs', { erreur: erreurs.imageEtTexte.sansTitre, aide: erreurs.imageEtTexte.aide }) %>
        <% break;
        }
            if (section.donnees.titre.style === undefined) {
                section.donnees.titre.style = "";
            }
        if(section.donnees.texte === undefined) { %>
            <%- include('./shared_errors.ejs', { erreur: erreurs.imageEtTexte.sansTexte, aide: erreurs.imageEtTexte.aide }) %>
        <% break;
        }
            if (section.donnees.texte.style === undefined) {
                section.donnees.texte.style = "";
            }
        if(section.donnees.image === undefined) { %>
            <%- include('./shared_errors.ejs', { erreur: erreurs.imageEtTexte.sansImage, aide: erreurs.imageEtTexte.aide }) %>
        <% break;
        } %>

        <%# Affichage de la section %>
        <% if (!section.donnees.texteEnPremier) { %>
            <% displayMedia(section.donnees.image, section.donnees.style, section.donnees.modeVignette, translation.Project_content_picture_alt) %>
        <% } %>

        <section>
            <% if (section.donnees.titre[lang]) { %>
                <h4 style="<%- section.donnees.titre.style %>"><%= section.donnees.titre[lang] %></h4>
            <% }

            if (section.donnees.texte[lang]) { %>
                <p style="<%- section.donnees.texte.style %>"><%- section.donnees.texte[lang] %></p>
            <% } %>
        </section>

        <% if (section.donnees.texteEnPremier) { %>
            <% if (section.donnees.texteEnPremier) { %>
                <% displayMedia(section.donnees.image, section.donnees.style, section.donnees.modeVignette, translation.Project_content_picture_alt) %>
            <% } %>
        <% } %>
    </div>
    <% break;

    case 'texte' :
        if (section.texte === undefined) {
            section.texte = "No text";
        } %>

    <p><%- section.texte[lang] %></p>
    <% break;

    case 'image' : %>
    <div class="image">
        <% if (section.lien) {
            if (section.commentaire === undefined) {
                section.commentaire = {};
            } %>
        <p class="commentaire"><%- section.commentaire[lang] %></p>

        <img src="<%= section.lien ? (section.lien.startsWith("http") ? section.lien : `${urls.projects}${section.lien}`) : `${urls.sharedIcons}404.svg` %>" alt="<%= translation.Project_content_picture_alt %>" onerror="this.setAttribute('src', `<%= urls.sharedIcons %>404.svg`);"/>
        <% } else { %>
            <p><%= translation.Project_content_carousel_no_image %></p>
        <% } %>
    </div>
    <% break;
    }
    } %>
</section>
