<main id="main-<%= id %>"
<% if (id !== idMainUrl ) { %> style="display: none"
        <% } %>
>

    <%# Menus de haut de page %>
    <ul>
        <li onclick="location.href='<% if (lang === 'fr') { %>/<% } else { %> /?lang=en<% } %>'" title="<%= translation.Close_page_button_title %>">
            <img src="<%= urls.sharedIcons %>close.svg" width="32" height="32" alt="<%= translation.Close_page_button_icon %>">
        </li>
        <li class="menuAffichagePetit" title="<%= translation.Menu_display_button_title %>">
            <img src="<%= urls.projectIcons %>menu.svg" width="32" height="32" alt="<%= translation.Menu_display_button_icon %>">
        </li>
        <li onclick="location.href='<% if (lang === 'fr') { %>?lang=en<% } else { %> ? <% } %>'" title="<%= translation.Change_language_button_title %>">
            <img src="<%= urls.sharedIcons %>/flag_<%= lang %>.svg" width="32" height="32" alt="<%= translation.Change_language_button_icon %>">
        </li>
    </ul>

    <%# Vérifications de la structure %>
    <%
    if (!partie.style) {
        partie.style = "";
    }

    if (!partie.mode) { %>
        <%- include('./shared_errors.ejs', { erreur: erreurs.partie.modeManquant, aide: erreurs.partie.aide }) %>
    <% } else { %>

        <%# Affichage des conteneurs %>
        <% if (partie.mode !== 'conception') { %>
            <%
                if (!partie.description) {
                    partie.description = {};
                }
            if (!partie.titre) { %>
                <%- include('./shared_errors.ejs', { erreur: erreurs.partie.titreManquant, aide: erreurs.partie.aide }) %>
            <% } else if (!partie.sections) { %>
                <%- include('./shared_errors.ejs', { erreur: erreurs.conteneur.listeVide, aide: erreurs.conteneur.aide }) %>
            <% } else { %>
                <section>
                    <h2><%= partie.titre[lang] %></h2>
                    <p><%- partie.description[lang] %></p>
                </section>

                <% if (partie.mode === 'vertical' || partie.mode === 'horizontal') { %>
                    <ul class="<% if (partie.mode === 'vertical') { %>ulVertical<% }else{ %>ulHorizontal<% } %>" style="<%- partie.style %>">
                        <% if (partie.sections.length > 0) { %>

                            <% for (const section of partie.sections) {
                                if (!section.style) {
                                    section.style = "";
                                }

                            if (!section.mode) { %>
                                <%- include('./shared_errors.ejs', { erreur: erreurs.conteneur.modeManquant, aide: erreurs.conteneur.aide }) %>
                            <% } else if (section.mode === 'vertical') { %>
                                <% if (!section.sections || section.sections.length === 0) { %>
                                    <%- include('./shared_errors.ejs', { erreur: erreurs.conteneur.listeVide, aide: erreurs.conteneur.aide }) %>
                                <% } else { %>
                                    <ul class="ulVertical" style="<%- section.style %>">
                                        <% for (const sousSection of section.sections) {
                                            if (!sousSection.style) {
                                                sousSection.style = "";
                                            } %>

                                        <%- include('./project_contents.ejs', { section: sousSection, index: section.sections.indexOf(sousSection), idMain: id }) %>
                                        <% } %>
                                    </ul>
                                <% } %>

                            <% } else if (section.mode === 'horizontal') { %>
                                <% if (!section.sections || section.sections.length === 0) { %>
                                    <%- include('./shared_errors.ejs', { erreur: erreurs.conteneur.listeVide, aide: erreurs.conteneur.aide }) %>
                                <% } else { %>
                                    <ul class="ulHorizontal" style="<%- section.style %>">
                                        <% for (const sousSection of section.sections) { %>
                                            <%- include('./project_contents.ejs', { section: sousSection, index: section.sections.indexOf(sousSection), idMain: id }) %>
                                        <% } %>
                                    </ul>
                                <% } %>
                            <% } else { %>
                                <%- include('./project_contents.ejs', { section: section, index: partie.sections.indexOf(section), idMain: id }) %>
                        <% }
                        }
                        } else { %>
                            <%- include('./shared_errors.ejs', { erreur: erreurs.conteneur.listeSectionsVide, aide: erreurs.conteneur.aide }) %>
                        <% } %>
                    </ul>
                <% } else { %>
                    <section class="contenuSimple" style="<%- partie.sections[0].style %>">
                        <%- include('./project_contents.ejs', { section: partie.sections[0], index: 0, idMain: id }) %>
                    </section>
                <% } %>
            <% } %>
        <% } else { %>
            <section>
                <h2>Conception</h2>
                <p><%= translation.Project_description %></p>
            </section>

            <div id="conception">
                <% if(partie.langages === undefined || partie.librairies === undefined || partie.ressources === undefined) { %>
                    <%- include('./shared_errors.ejs', { erreur: erreurs.partie.sousPartieManquante, aide: erreurs.partie.aide }) %>
                <% } else { %>
                    <article>
                        <ul>
                            <% let index = 0; %>
                            <% const listeSections = [[translation.Project_conception_languages, "lang", partie.langages], [translation.Project_conception_librairies, "lib", partie.librairies], [translation.Project_conception_websites, "res", partie.ressources]]; %>
                            <% for (const [titre, clas, liste] of listeSections) { %>
                                <% if (liste.length > 0) { %>
                                    <section>
                                        <h3><span><%= titre %></span><span><%= liste.length %></span></h3>
                                        <ul>
                                            <% for (const elem of liste) { %>
                                                <li id="conception-<%= elem.abrege %>">
                                                    <div class="<%= clas %>" onclick="afficherRessource(<%= index %>);">
                                                        <p><%= elem.abrege.toUpperCase() %></p>
                                                    </div>
                                                </li>
                                                <% index++; %>
                                            <% } %>
                                        </ul>
                                    </section>
                                <% } %>
                            <% } %>
                        </ul>

                        <% index = 0; %>
                        <% for (let i = 0; i < listeSections.length; i++) { %>
                            <% for (const section of listeSections[i][listeSections.length - 1]) {
                                if (section.utilite === undefined) {
                                    section.utilite = {
                                        "fr": "",
                                        "en": ""
                                    };
                                }

                            if (conceptions[section.abrege] === undefined) { %>
                                <%- include('./shared_errors.ejs', { erreur: erreurs.langage.abregeInconnu, aide: erreurs.langage.aide, valeur: section.abrege }) %>
                            <% } else { %>
                                <section id="section-<%= index %>" style="<% if (index !== 0) { %> display: none; <% } %>">
                                    <ol>
                                        <li>
                                            <ul>
                                                <li>
                                                    <img src="<%= urls.sharedIcons %>link.svg" width="15" height="100" alt="<%= translation.Link_to_external_ressource_icon %>">
                                                    <a target="_blank" rel='noopener' href="<%= conceptions[section.abrege].lien %>"><%= translation.Link_to_external_ressource_title %></a>
                                                </li>
                                                <% if (section.liens && section.liens.length > 0) { %>
                                                    <% for (const lien of section.liens) { %>
                                                        <li>
                                                            <img src="<%= urls.sharedIcons %>link.svg" width="15" height="100" alt="<%= translation.Link_to_external_ressource_icon %>">
                                                            <a target="_blank" rel='noopener' href="<%= lien.lien %>"><%= lien.titre[lang] %></a>
                                                        </li>
                                                    <% } %>
                                                <% } %>
                                            </ul>
                                            <div>
                                                <div class="<%= listeSections[i][1] %>">
                                                    <p><%= section.abrege.toUpperCase() %></p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <h2><%= conceptions[section.abrege].nom %></h2>
                                            <div></div>
                                            <ul>
                                                <% for (const badge of conceptions[section.abrege].badges) { %>
                                                    <li class="<%= listeSections[i][1] %>" title="Badge '<%= badge %>'">
                                                        <p><%= badge %></p>
                                                    </li>
                                                <% } %>
                                            </ul>
                                            <p><%- section.utilite[lang] %></p>
                                        </li>
                                        <li>
                                            <% if (listeSections[i][1] === 'res' && section.attribution) { %>
                                                <h4>Attribution</h4>
                                                <p><%- section.attribution %></p>
                                            <% } %>
                                        </li>
                                    </ol>
                                </section>
                                <% index++; %>
                            <% } %>
                            <% } %>
                        <% } %>
                    </article>
                <% } %>
            </div>
        <% } %>
    <% } %>
</main>
