<div class="erreur">
    <img src="<%= urls.sharedIcons %>warning.svg" width="32" height="32" alt="<%= translation.Error_icon %>">
    <section>
        <h2><%- translation.Error %></h2>
        <% if (typeof valeur !== "undefined" ) { %>
            <p>Valeur de la variable: <%= valeur %></p>
        <% } %>
        <p><%- erreur[lang] %><br/><%= translation.Project_content_error_link %> : <a href="<%= aide.lien %>" target="_blank" rel='noopener'><%= aide.intitule[lang] %></a>.</p>
    </section>
</div>
