<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="manifest" href="/manifest.json">
<link rel="stylesheet" href="<%= urls.sharedStyles %>shared<%= isMinified %>.css">

<link rel="apple-touch-icon" sizes="180x180" href="<%= urls.favicons %>apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="<%= urls.favicons %>favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="<%= urls.favicons %>favicon-16x16.png">
<link rel="mask-icon" href="<%= urls.favicons %>safari-pinned-tab.svg" color="#364f6b">
<link rel="shortcut icon" href="<%= urls.favicons %>favicon.ico">
<meta name="msapplication-TileColor" content="#364f6b">
<meta name="msapplication-config" content="<%= urls.favicons %>/browserconfig.xml">
<meta name="theme-color" content="#364f6b">