<!DOCTYPE html>
<html lang="<%= lang %>" dir="ltr">
    <head>
        <%- include('./included/shared_head.ejs'); %>
        <meta name="description" content="<%= portfolio.descriptionPages.page404[lang] %>">
        <title>Portfolio - <%= portfolio.nom %> <%= portfolio.prenom %></title>
        <link rel="stylesheet" href="<%= `${urls.notFoundPageStyles}404${isMinified}.css` %>">
        <%# Le style de la page %>
    </head>

    <%- include('./included/shared_analytics.ejs'); %>

    <body>
        <p>
            <img src="<%= urls.sharedIcons %>404.svg" height="200" width="200" alt="<%= translation.Error %>">
            <span><%= translation.Page_not_found_title %></span>
        </p>

        <button onclick="window.location=`/${lang && lang !== 'fr' ? '?lang='+lang : ''}`">
            <img src="<%= urls.notFoundPageIcons %>base.svg" height="40" width="40" alt="<%= translation.Button_back_home_icon %>">
            <span><%= translation.Button_back_home_title %></span>
        </button>
    </body>
</html>
