<!DOCTYPE html>
<html lang="<%= lang %>" dir="ltr">
    <head>
        <%# Pour le référencement auprès de Google %>
        <meta name="google-site-verification" content="P5NLYf4PjfWH6sUAfQWNBCpYg-El9BR690wpG3q9WVU"/>
        <%- include('./included/shared_head.ejs'); %>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <meta name="description" content="<%= portfolio.descriptionPages.accueil[lang] %>">
        <title>Portfolio - <%= portfolio.nom %> <%= portfolio.prenom %></title>

        <%# Styles sans préchargement %>
        <% for (const styleFile of styleFiles) { %>
            <link rel="stylesheet" href="<%= styleFile %>">
        <% } %>

        <%# Styles avec préchargement %>
        <link rel="preload" href="<%= `${urls.homeStyles}settings${isMinified}.css` %>" as="style" onload="this.onload = null; this.rel = 'stylesheet';">
        <noscript>
            <link rel="stylesheet" href="<%= `${urls.homeStyles}settings${isMinified}.css` %>">
            <%# Le style des options %>
        </noscript>

        <script type="text/javascript" src="<%= `${urls.sharedScripts}anime/anime.min.js` %>"></script>
        <%# Pour tout pleins d'animations sur la page %>
        <script type="text/javascript" src="<%= `${urls.sharedScripts}scrollReveal/scrollReveal${isMinified}.js` %>"></script>
        <%# La librairie de gestion de l'affichage en fontion du scroll de la page %>
    </head>

    <%- include('./included/shared_analytics.ejs'); %>

    <body>
        <div id="backgroundAnimation">
            <ul>
                <%# Contient les comètes de fond %>
            </ul>

            <ul>
                <%# Contient les étoiles de fond %>
            </ul>
        </div>

        <div id="options">
            <img src="<%= urls.homeImages %>gear.svg" height="100" alt="<%= translation.Parameters_title %>" title="<%= translation.Parameters_title %>"/>

            <section>
                <h4><%= translation.Parameters_title %></h4>
                <p><%= translation.Parameters_languages %></p>

                <ul>
                    <li <%= lang === 'fr' ? "actif" : `onclick=location.href='/'` %> >
                        <img src="<%= urls.sharedIcons %>flag_fr.svg" alt="<%= translation.Parameters_languages_flag_fr %>">
                        <%= translation.Parameters_languages_fr %>
                    </li>
                    <li <%= lang === 'en' ? "actif" : `onclick=location.href='?lang=en'` %> >
                        <img src="<%= urls.sharedIcons %>flag_en.svg" alt="<%= translation.Parameters_languages_flag_en %>">
                        <%= translation.Parameters_languages_en %>
                    </li>
                </ul>
            </section>
        </div>

        <header>
            <hgroup>
                <h1>
                  <span>
                    <span><%= portfolio.nom %></span>
                    <span><%= portfolio.prenom %></span>
                  </span>
                </h1>
                <h2><%= portfolio.description[lang] %></h2>
            </hgroup>

            <div>
                <%- include('./included/home_moon.svg') %>
            </div>

            <span>
                <p title="test"><%- portfolio.messageTemporaire[lang] %></p>
            </span>
        </header>

        <main>
            <section id="profil">
                <terminal class="<%= lang %>">
                    <% for (const description of portfolio.profil[lang]) { %>
                        <p data-ty="input" data-ty-cursor="▋"><%- description %></p>
                    <% } %>
                </terminal>
                <profil>
                    <div>
                        <img src="" alt="<%= translation.Profile_picture %>" title="<%= translation.Profile_picture_title %>">
                        <%# L'image de profilNode chargé en js %>

                        <ul>
                            <h2><%= translation.Profile_whoIam %></h2>
                            <h2><%= portfolio.prenom %> <%= portfolio.nom %></h2>
                        </ul>
                    </div>
                </profil>
            </section>

            <section id="projects">
                <menu>
                    <li><%= translation.Experiences_title %></li>
                    <li class="underline"><%= translation.Projects_title %></li>
                    <li><%= translation.Career_path_title %></li>
                </menu>

                <ul>
                    <%- include('./included/home_experiences.ejs') %>
                    <%- include('./included/home_projects.ejs') %>
                    <%- include('./included/home_career_path.ejs') %>
                </ul>
            </section>

            <section id="activities">
                <h2><%= translation.Activities_title %></h2>

                <% if (portfolio.activities)  { %>
                    <ul>
                        <% for (const activity of portfolio.activities) { %>
                            <li class="activity">
                                <% if (activity.media) { %>
                                    <% if (activity.media.endsWith('.mp4')) { %>
                                        <video autoplay muted loop playsinline>
                                            <source src="<%= `${urls.activities}${activity.media}` %>" type="video/mp4">
                                            <%= translation.Activities_video_not_supported %>
                                        </video>
                                    <% } %>

                                    <% if (activity.media.endsWith('.png') || activity.media.endsWith('.jpg')) { %>
                                        <img src="<%= `${urls.activities}${activity.media}` %>" alt="<%= translation.Activities_activity_media_alt %>"/>
                                    <% } %>
                                <% } %>

                                <div>
                                    <description><%- activity.description[lang] %></description>
                                    <p>
                                        <a href="<%= activity.url %>" target="_blank" rel="noopener"><%= translation.Activities_activity_more %></a>
                                    </p>
                                </div>
                            </li>
                        <% } %>
                    </ul>
                <% } else { %>
                    <p><%= translation.Activities_error %></p>
                <% } %>

                <p>
                    <a href="https://killian-denechere.notion.site/Portfolio-3cb6d20c07104c11a736998a7e0a15f0" target="_blank" rel="noopener"><%= translation.Activities_more %></a>
                </p>
            </section>

            <section id="references">
                <h2><%= translation.References_title %></h2>
                <ul>
                    <%# Randomise the array order %>
                    <% for (const reference of portfolio.references.map(value => ({value, sort: Math.random()})).sort((a, b) => a.sort - b.sort).map(({value}) => value)) { %>
                        <li>
                            <img draggable=false src="<%= `${urls.references}${reference.img}` %><%=        %>" alt="<%= reference.name %>"/>
                            <p draggable=false><%= reference.name %></p>
                        </li>
                    <% } %>
                </ul>
            </section>
        </main>

        <footer>
            <%# Le bas de page avec quelques infos %>
            <ul>
                <li onclick="copy(this.children[1].children[1], '<%= portfolio.mail %>');">
                    <img src="<%= urls.homeImages %>mail.svg" width="48" height="48" alt="<%= translation.Footer_mail_icon %>">
                    <div>
                        <h5><%= portfolio.mail %></h5>
                        <p><%= translation.Footer_mail_copy %></p>
                    </div>
                </li>

                <li>
                    <img src="<%= urls.homeImages %>cv.svg" width="48" height="48" alt="<%= translation.Footer_CV_icon %>">
                    <div>
                        <h5><%= translation.Footer_CV_title %></h5>
                        <p><%= translation.Footer_CV_display %></p>
                    </div>
                </li>

                <li onclick="window.open('<%= portfolio.gitlab %>', '_blank'); window.focus(); validationFooter(this.children[1].children[1], '<%= translation.Footer_git_opened %>');">
                    <img src="<%= urls.homeImages %>git.svg" width="48" height="48" alt="<%= translation.Footer_git_icon %>">
                    <div>
                        <h5>GitLab</h5>
                        <p><%= translation.Footer_git_open %></p>
                    </div>
                </li>
            </ul>

            <div>
                <copyright>
                    © Copyright 2020 - <%= new Date().getFullYear() %> • <%= translation.Footer_rights %> • <!--suppress HtmlUnknownTarget -->
                    <a href="/project/portfolio/2#conception-fi">Attributions</a>
                </copyright>
                <mail>
                    <a href="mailto:<%= portfolio.mail %>" target="_blank" rel="noopener"><%= portfolio.mail %></a>
                </mail>
                <maj><%= translation.Footer_last_update %> : <%= dateModif %></maj>
            </div>
        </footer>

        <%- include('./included/curriculum.ejs') %>

        <script type="text/javascript" src="<%= `${urls.homeScripts}comets${isMinified}.js` %>"></script>
        <%# Animation(s) du fond d'écran %>
        <script type="text/javascript" src="<%= `${urls.homeScripts}moon${isMinified}.js` %>"></script>
        <%# Animation(s) du header %>

        <script type="text/javascript">
            const lang = "<%= lang %>";
            const traductions = {
                profil: "<%= translation.Profile_profil %>"
            }
            const listeTypeEvenements = [<% for (const typeEvenement of listeTypeEvenements) { %>"<%= typeEvenement %>", <% } %>];

            <% if (userComefromProjectPage) { %>
            window.scrollTo(0, document.querySelector("#projects").offsetTop);
            <% } %>
        </script>

        <% for (const scriptFile of scriptFiles) { %>
            <script type="text/javascript" src="<%= scriptFile %>"></script>
        <% } %>
    </body>
</html>
