<!DOCTYPE html>
<html lang="<%= lang %>" dir="ltr">
    <head>
        <%- include('./included/shared_head.ejs'); %>

        <meta name="description" content="<%= portfolio.descriptionPages.project[lang] %>">
        <title><%= translation.Page_title %> - <%= project.titre %> - <%= portfolio.nom %> <%= portfolio.prenom %></title>

        <link rel="stylesheet" href="<%= `${urls.projectStyles}main${isMinified}.css` %>">
        <%# Le style de la section main de la page %>
        <link rel="stylesheet" href="<%= `${urls.projectStyles}aside${isMinified}.css` %>">
        <%# Le style de la section aside de la page %>
        <link rel="stylesheet" href="<%= `${urls.projectStyles}conception${isMinified}.css` %>">
        <%# Le style de l'onglet conception %>
        <link rel="stylesheet" href="<%= `${urls.projectStyles}conception-hexagones${isMinified}.css` %>">
        <%# Le style des hexagons de la partie détails du project %>
        <link rel="stylesheet" href="<%= `${urls.sharedStyles}carousel/img-previewer${isMinified}.css` %>">
        <%# Le style de la fenêtre d'agrandissement d'une image %>
        <link rel="stylesheet" href="<%= `${urls.sharedStyles}carousel/carousel${isMinified}.css` %>">
        <%# Le style du carousel %>
    </head>

    <%- include('./included/shared_analytics.ejs'); %>

    <body>

        <%# Le menu situé à gauche de la page %>
        <aside>
            <% if (project.carte.image) { %>
                <div style="background-image: url('<%= `${urls.projects}${project.carte.image}` %>');"></div>
            <% } else { %>
                <div style="background-image: url('<%= urls.sharedIcons %>404.svg'); height: 80%;"></div>
            <% } %>

            <section>
                <h1><%= project.titre %></h1>
                <ul>
                    <li title="Participants">
                        <img src="<%= urls.projectIcons %>personne.svg" width="25" height="100" alt="<%= translation.Team_members_count_icon %>">
                        <p>
                            <%= `${project.details.contexte.nombreDePersonnes} ${translation.Team_members_count}${project.details.contexte.nombreDePersonnes > 1 ? 's' : ''}` %>
                        </p>
                    </li>

                    <li title="<%= translation.Project_duration_title %>">
                        <img src="<%= urls.projectIcons %>chrono.svg" width="25" height="100" alt="<%= translation.Project_duration_icon %>">
                        <p>
                            <% if (project.details.dates.debut) { %>
                                <%= project.details.dates.debut %>
                            <% } else { %>
                                ??
                            <% } %>
                            -
                            <% if (project.details.dates.fin) { %>
                                <%= project.details.dates.fin %>
                            <% } else { %>
                                ??
                            <% } %>
                        </p>
                    </li>

                    <li title="<%= translation.Project_context_title %>">
                        <img src="<%= urls.projectIcons %>idee.svg" width="25" height="100" alt="<%= translation.Project_context_icon %>">
                        <p>
                            <% if (project.details.contexte.personnel && project.details.contexte.scolaire) { %>
                                <%= translation.Project_context_personnal %> & <%= translation.Project_context_scholar %>
                            <% } else if (project.details.contexte.personnel) { %>
                                <%= translation.Project_context_personnal %>
                            <% } else if (project.details.contexte.scolaire) { %>
                                <%= translation.Project_context_scholar %>
                            <% } else { %>
                                <%= translation.Project_context_not_specified %>
                            <% } %>
                        </p>
                    </li>
                </ul>
            </section>

            <%# Liste des différentes parties %>
            <ul>
                <% for (const partie of project.parties) { %>
                    <% const index = project.parties.indexOf(partie); %>

                    <%
                        if (!partie.description)
                            partie.description = {};

                    if (!partie.titre) { %>
                        <%- include('./included/shared_errors.ejs', { erreur: erreurs.partie.titreManquant, aide: erreurs.partie.aide }); %>
                    <% } else { %>
                        <li onclick="afficherPartie(<%= index %>);" <%= (index == idMainUrl) ? 'style="margin-right: 10%;"' : '' %>>
                            <% if (index == idMainUrl) { %>
                                <img src="<%= `${urls.projectIcons}fleche_droite.svg` %>" width="20" height="100" alt="<%= translation.Project_parts_list_icon %>">
                            <% } %>
                            <p><%= partie.sections ? partie.titre[lang] : translation.Error %></p>
                        </li>
                    <% } %>
                <% } %>

                <%# Partie conception %>
                <% if (project.parties.length == idMainUrl) { %>
                <li style="margin-right: 10%;" onclick="afficherPartie(<%= project.parties.length %>);">
                    <img src="<%= urls.projectIcons %>fleche_droite.svg" width="20" height="100" alt="<%= translation.Project_parts_list_icon %>">
                    <% } else { %>
                <li onclick="afficherPartie(<%= project.parties.length %>);">
                    <% } %>
                    <p>Conception</p>
                </li>
            </ul>

            <ol>
                <% for (const lien of project.liensExternes) { %>
                    <li onclick="window.open('<%= lien.lien %>', '_blank');">
                        <img src="<%= urls.sharedIcons %>link.svg" height="100" width="15" alt="<%= translation.Project_external_links_icon %>">
                        <p><%= lien.titre[lang] %></p>
                    </li>
                <% } %>
            </ol>
        </aside>

        <%# Affichage des conteneurs et contenus %>
        <% if (project.parties && project.parties.length > 0) { %>
            <% for (const partie of project.parties) { %>
                <%- include('./included/project_containers.ejs', { id: project.parties.indexOf(partie), partie: partie }) %>
            <% } %>

            <% if (!Number.isInteger(parseInt(idMainUrl)) || idMainUrl < 0 || idMainUrl > project.parties.length + 1) { %>
                <p>
                    <span>¯\_(ツ)_/¯</span>
                    <span><%= translation.Project_part_not_found %></span>
                </p>
        <% }
        } else { %>
            <%- include('./included/shared_errors.ejs', { erreur: erreurs.partie.listeVide, aide: erreurs.partie.aide }) %>
        <% } %>

        <%- include('./included/project_containers.ejs', { id: project.parties.length, partie: project.conception }) %>

        <%# Les styles particuliers %>
        <style>
			body > main > ul:not([class]) > li:last-child::after {
				content: url('<%= urls.sharedIcons %>flag_<% if (lang === 'fr') { %>en<% } else { %>fr<% } %>.svg');
			}
        </style>

        <%# Les scripts %>
        <script type="text/javascript" src="<%= `${urls.sharedScripts}anime/anime.min.js` %>"></script>
        <%# Pour gérer des animations %>
        <script type="text/javascript" src="<%= `${urls.sharedScripts}swipedEvent/swipedEvent.min.js` %>"></script>
        <%# Gestion des gestes vers la gauche ou la droite sur mobile %>
        <script type="text/javascript" src="<%= `${urls.sharedScripts}carousel/img-previewer${isMinified}.js` %>"></script>
        <%# La librairie permettant d'agrandir des medias %>
        <script type="text/javascript">
			let indexPartieCourante = parseInt("<%= idMainUrl %>");
			const lang = "<%= lang %>";
			const traductions = {
				rotateLeft: "<%= translation.Project_content_carousel_tooltip_rotateLeft %>",
				rotateRight: "<%= translation.Project_content_carousel_tooltip_rotateRight %>",
				reset: "<%= translation.Project_content_carousel_tooltip_reset %>",
				close: "<%= translation.Project_content_carousel_tooltip_close %>",
				previous: "<%= translation.Project_content_carousel_tooltip_previous %>",
				next: "<%= translation.Project_content_carousel_tooltip_next %>",
			}

			if (!Number.isInteger(indexPartieCourante))
				window.location.href = "/";

            <%# Gestion de l'agrandissement des images. %>
			for (const section of document.querySelectorAll(".image, .imageEtTexte"))
				new ImgPreviewer(section, {scrollbar: false});
        </script>
        <script type="text/javascript" src="<%= `${urls.projectScripts}main${isMinified}.js` %>"></script>
        <%# Le fonctionnement des boutons de parties du project %>
        <script type="text/javascript" src="<%= `${urls.projectScripts}conception${isMinified}.js` %>"></script>
        <%# Le fonctionnement de la partie conception du project %>
        <script type="text/javascript" src="<%= `${urls.sharedScripts}carousel/carousel${isMinified}.js` %>"></script>
        <%# Le fonctionnement du carousel %>
    </body>
</html>
