body > aside {
	flex-basis: 20%;
	background-color: var(--main-bg-color);
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
	box-shadow: var(--box-shadow2);
	display: flex;
	flex-direction: column;
	position: sticky;
	top: 0;
	z-index: 0; /* Évident mais à préciser pour l'affichage du box-shadow */

	/* Pour le passage au mode d'affichage petit */
	height: 100vh;
	width: 20%;
	transition: var(--transition);
	min-width: min-content;
	overflow-y: auto;

	/* Image du project */
	& > div {
		flex: 1;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		border-top-right-radius: var(--border-radius);
		background-color: var(--noir);
		max-height: 30%;
		min-height: 10%;
	}

	/* Titre project */
	& > section {
		display: flex;
		flex-direction: column;

		& > h1 {
			background-color: var(--blanc);
			font-size: xx-large;
			text-align: center;
			padding: 0.1em;
			color: var(--main-bg-color);
			box-shadow: var(--box-shadow2);
			margin: 0;
		}

		/* Détails projects */
		& > ul {
			display: flex;
			flex-wrap: wrap;
			margin: 0.5em 0 0 0.5em;

			& > li {
				display: flex;
				align-items: center;
				margin: 0 0.5em 0.5em 0;
				flex: 1;
				background-color: var(--blanc);
				border-radius: var(--border-radius2);
				transition: var(--transition);

				&:nth-child(3) {
					flex-basis: 100%;
				}

				& > p {
					margin: 0;
					font-size: 0.9em;
					flex: 1;
					text-align: center;
					width: max-content;
				}

				& > img {
					border: thin solid var(--blanc);
					height: 0.8em;
					background-color: var(--main-bg-color);
					padding: 0.4em;
					border-top-left-radius: var(--border-radius2);
					border-bottom-left-radius: var(--border-radius2);
				}
			}
		}
	}

	/* Liste des parties */
	& > ul {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;

		& > li {
			background-color: var(--vert);
			color: var(--blanc);
			border-top-right-radius: var(--border-radius);
			border-bottom-right-radius: var(--border-radius);
			margin: 5% 20% 5% 0;
			height: 2em;
			font-size: 1.5em;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: var(--transition);
			cursor: pointer;
			//min-width: fit-content; // Break the animation
		}
	}

	/* Liens externes */
	& > ol {
		display: flex;
		margin: 5%;

		& > li {
			background-color: var(--blanc);
			padding: 0.1em;
			box-shadow: var(--box-shadow);
			border-radius: var(--border-radius2);
			color: var(--main-bg-color);
			margin: 0.5em 0.2em;
			flex: 1;
			cursor: pointer;
			text-transform: uppercase;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	& > ul > li > p,
	& > ol > li > p {
		margin: 0;
		font-family: 'Raleway', sans-serif;
	}

	/* Les medias dans les parties du aside */
	& > ul > li > img,
	& > ol > li > img {
		height: 0.8em;
		margin-right: 0.2em;
	}
}