@charset "UTF-8";
body > aside {
	flex-basis: 20%;
	background-color: var(--main-bg-color);
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
	box-shadow: var(--box-shadow2);
	display: flex;
	flex-direction: column;
	position: sticky;
	top: 0;
	z-index: 0; /* Évident mais à préciser pour l'affichage du box-shadow */
	/* Pour le passage au mode d'affichage petit */
	height: 100vh;
	width: 20%;
	transition: var(--transition);
	min-width: min-content;
	overflow-y: auto;
	/* Image du project */
	/* Titre project */
	/* Liste des parties */
	/* Liens externes */
	/* Les medias dans les parties du aside */
}

body > aside > div {
	flex: 1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-top-right-radius: var(--border-radius);
	background-color: var(--noir);
	max-height: 30%;
	min-height: 10%;
}

body > aside > section {
	display: flex;
	flex-direction: column;
	/* Détails projects */
}

body > aside > section > h1 {
	background-color: var(--blanc);
	font-size: xx-large;
	text-align: center;
	padding: 0.1em;
	color: var(--main-bg-color);
	box-shadow: var(--box-shadow2);
	margin: 0;
}

body > aside > section > ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0.5em 0 0 0.5em;
}

body > aside > section > ul > li {
	display: flex;
	align-items: center;
	margin: 0 0.5em 0.5em 0;
	flex: 1;
	background-color: var(--blanc);
	border-radius: var(--border-radius2);
	transition: var(--transition);
}

body > aside > section > ul > li:nth-child(3) {
	flex-basis: 100%;
}

body > aside > section > ul > li > p {
	margin: 0;
	font-size: 0.9em;
	flex: 1;
	text-align: center;
	width: max-content;
}

body > aside > section > ul > li > img {
	border: thin solid var(--blanc);
	height: 0.8em;
	background-color: var(--main-bg-color);
	padding: 0.4em;
	border-top-left-radius: var(--border-radius2);
	border-bottom-left-radius: var(--border-radius2);
}

body > aside > ul {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

body > aside > ul > li {
	background-color: var(--vert);
	color: var(--blanc);
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
	margin: 5% 20% 5% 0;
	height: 2em;
	font-size: 1.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: var(--transition);
	cursor: pointer;
}

body > aside > ol {
	display: flex;
	margin: 5%;
}

body > aside > ol > li {
	background-color: var(--blanc);
	padding: 0.1em;
	box-shadow: var(--box-shadow);
	border-radius: var(--border-radius2);
	color: var(--main-bg-color);
	margin: 0.5em 0.2em;
	flex: 1;
	cursor: pointer;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
}

body > aside > ul > li > p, body > aside > ol > li > p {
	margin: 0;
	font-family: "Raleway", sans-serif;
}

body > aside > ul > li > img, body > aside > ol > li > img {
	height: 0.8em;
	margin-right: 0.2em;
}
