@charset "UTF-8";
/* PARTIE LISTE DES LANGUAGES, LIBRAIRIES ET RESSOURCES */
.lang {
  background-color: #f7df1e;
}

.lib {
  background-color: #4ad295;
}

.res {
  background-color: #e44d26;
}

#conception > article {
  /* Détails du langage -> icone etc... */
}
#conception > article > ul > section > ul > li > div, #conception > article > section > ol > li > div > div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#conception > article > ul > section > ul > li > div:hover, #conception > article > ul > section > ul > li > div:hover::before, #conception > article > ul > section > ul > li > div:hover::after {
  height: 3.6em;
  width: 2.2em;
}
#conception > article > ul > section > ul > li > div, #conception > article > ul > section > ul > li > div::before, #conception > article > ul > section > ul > li > div::after, #conception > article > section > ol > li > div > div, #conception > article > section > ol > li > div > div::before, #conception > article > section > ol > li > div > div::after {
  border-top: 2px solid var(--main-bg-color);
  border-bottom: 2px solid var(--main-bg-color);
  border-radius: 3px;
  width: 2.1em;
  height: 3.4em;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: var(--blanc);
  box-sizing: border-box;
}
#conception > article > ul > section > ul > li > div::before, #conception > article > ul > section > ul > li > div::after, #conception > article > section > ol > li > div > div::before, #conception > article > section > ol > li > div > div::after {
  content: "";
  position: absolute;
  background-color: var(--main-bg-color);
}
#conception > article > ul > section > ul > li > div::before, #conception > article > section > ol > li > div > div::before {
  transform: rotate(120deg);
}
#conception > article > ul > section > ul > li > div::after, #conception > article > section > ol > li > div > div::after {
  transform: rotate(60deg);
}
#conception > article > ul > section > ul > li > div > p, #conception > article > section > ol > li > div > div > p {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  white-space: nowrap;
}
#conception > article > section > ol > li > div > div {
  cursor: inherit;
}
#conception > article > section > ol > li > div > div > p {
  font-size: 3em;
  transition: inherit;
}
#conception > article > section > ol > li > div > div, #conception > article > section > ol > li > div > div::before, #conception > article > section > ol > li > div > div::after {
  width: 6em;
  height: 10em;
  border-radius: 5px;
  transition: inherit;
}

@media (orientation: portrait) {
  #conception > article > section > ol > li > ul {
    flex-wrap: wrap;
  }
  #conception > article > section > ol > li > ul > li {
    flex: 1;
  }
  #conception > article > ul > section > ul > li > div {
    cursor: none;
  }
}
