@charset "UTF-8";
#conception {
  display: flex;
  flex: 1;
  /* GENERAL */
}
#conception > section {
  flex: 1;
  display: flex;
  justify-content: center;
}
#conception > article {
  display: flex;
  width: 100%;
  /* 3 PARTIES DE GAUCHE */
  /* PARTIE DETAILS */
}
#conception > article > * {
  flex: 1;
}
#conception > article > ul {
  display: flex;
  flex-direction: column;
}
#conception > article > ul > section {
  flex: 1 33%;
  display: flex;
  flex-direction: column;
  max-height: 33%;
}
#conception > article > ul > section > h3 {
  border-top: medium solid var(--vert);
  border-bottom: medium solid var(--vert);
  padding: 0.2em 0;
  display: flex;
  justify-content: space-between;
}
#conception > article > ul > section > ul {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  flex: 1;
  align-items: center;
  /* Voir le fichier conception-hexagones.css pour le détail des hexagones de cette partie */
}
#conception > article > ul > section > ul > li {
  flex-basis: 25%;
  padding: 0.25em 0;
  height: 3.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
#conception > article > section {
  margin-left: 1vw;
  padding-left: 2vw;
  border-left: 0.2em solid var(--main-bg-color);
  overflow: auto;
}
#conception > article > section > ol {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#conception > article > section > ol > li {
  display: flex;
  flex-direction: column;
  /* Partie détails haute */
  /* Partie détails basse */
  /* Partie détails haute */
}
#conception > article > section > ol > li > h2 {
  text-align: center;
  margin: 1em 0;
  font-size: 2em;
}
#conception > article > section > ol > li:first-child {
  flex-basis: 30%;
  /* Voir le fichier conception-hexagones.css pour le détail des hexagones de cette partie */
}
#conception > article > section > ol > li:first-child > ul > li {
  display: flex;
  align-items: baseline;
  margin-right: 2em;
}
#conception > article > section > ol > li:first-child > ul > li > img {
  height: 0.8em;
}
#conception > article > section > ol > li:first-child > ul > li > a {
  background-image: inherit;
  animation: inherit;
  cursor: pointer;
  color: var(--vert);
}
#conception > article > section > ol > li:first-child > div {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
#conception > article > section > ol > li:nth-child(2) {
  flex: 1;
  align-items: center;
}
#conception > article > section > ol > li:nth-child(2) > div {
  width: 80%;
  border: 0.1em solid var(--vert);
  position: relative;
}
#conception > article > section > ol > li:nth-child(2) > div::before, #conception > article > section > ol > li:nth-child(2) > div::after {
  content: "";
  height: 1.5vh;
  width: 1.5vh;
  background-color: var(--vert);
  position: absolute;
  top: -0.75vh;
}
#conception > article > section > ol > li:nth-child(2) > div::before {
  left: -0.2vw;
}
#conception > article > section > ol > li:nth-child(2) > div::after {
  right: -0.2vw;
}
#conception > article > section > ol > li:nth-child(2) > ul > li {
  margin: 1em;
  border: thin solid var(--main-bg-color);
  border-radius: var(--border-radius2);
  padding: 0.1em;
  font-size: 0.8em;
}
#conception > article > section > ol > li:nth-child(2) > ul > li > p {
  margin: 0;
  border-radius: var(--border-radius2);
  background-color: var(--main-bg-color);
  color: var(--blanc);
  padding: 0 0.5em;
  text-transform: capitalize;
}
#conception > article > section > ol > li:nth-child(2) > p {
  flex: 1;
  display: flex;
  align-items: center;
  text-align: justify;
}
#conception > article > section > ol > li:last-child {
  height: max-content;
  padding-bottom: 1vh; /*Pour palier au dépassement vers le bas causé par le soulignement des liens */
}
#conception > article > section > ol > li:last-child > h4, #conception > article > section > ol > li:last-child > p {
  margin: 0;
}
#conception > article > section > ol > li > ul {
  display: flex;
  margin-bottom: 0.5em;
  overflow: auto;
  max-width: 100%;
}

@media (orientation: portrait) {
  #conception > article {
    flex-direction: column;
  }
  #conception > article > section {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
    overflow: initial;
    margin-top: 1vh;
    padding-top: 2vh;
    border-top: 0.2em solid var(--main-bg-color);
  }
  #conception > article > ul > section {
    max-height: inherit;
  }
  #conception > article > ul > section > ul {
    height: min-content;
  }
}
