#conception {
	display: flex;
	flex: 1;

	& > section {
		flex: 1;
		display: flex;
		justify-content: center;
	}

	/* GENERAL */
	& > article {
		display: flex;
		width: 100%;

		& > * {
			flex: 1;
		}

		/* 3 PARTIES DE GAUCHE */
		& > ul {
			display: flex;
			flex-direction: column;

			& > section {
				flex: 1 33%;
				display: flex;
				flex-direction: column;
				max-height: 33%;

				& > h3 {
					border-top: medium solid var(--vert);
					border-bottom: medium solid var(--vert);
					padding: 0.2em 0;
					display: flex;
					justify-content: space-between;
				}

				& > ul {
					display: flex;
					flex-wrap: wrap;
					overflow: auto;
					flex: 1;
					align-items: center;

					& > li {
						flex-basis: 25%;
						padding: 0.25em 0;
						height: 3.5em;
						display: flex;
						justify-content: center;
						align-items: center;
					}

					/* Voir le fichier conception-hexagones.css pour le détail des hexagones de cette partie */
				}
			}
		}

		/* PARTIE DETAILS */
		& > section {
			margin-left: 1vw;
			padding-left: 2vw;
			border-left: 0.2em solid var(--main-bg-color);
			overflow: auto;

			& > ol {
				display: flex;
				flex-direction: column;
				height: 100%;

				& > li {
					display: flex;
					flex-direction: column;

					& > h2 {
						text-align: center;
						margin: 1em 0;
						font-size: 2em;
					}

					/* Partie détails haute */
					&:first-child {
						flex-basis: 30%;

						& > ul > li {
							display: flex;
							align-items: baseline;
							margin-right: 2em;

							& > img {
								height: 0.8em;
							}

							& > a {
								background-image: inherit;
								animation: inherit;
								cursor: pointer;
								color: var(--vert);
							}
						}

						& > div {
							display: flex;
							flex: 1;
							justify-content: center;
							align-items: center;
						}

						/* Voir le fichier conception-hexagones.css pour le détail des hexagones de cette partie */
					}

					/* Partie détails basse */
					&:nth-child(2) {
						flex: 1;
						align-items: center;

						& > div {
							width: 80%;
							border: 0.1em solid var(--vert);
							position: relative;

							&::before,
							&::after {
								content: '';
								height: 1.5vh;
								width: 1.5vh;
								background-color: var(--vert);
								position: absolute;
								top: -0.75vh;
							}

							&::before {
								left: -0.2vw;
							}

							&::after {
								right: -0.2vw;
							}
						}

						& > ul > li {
							margin: 1em;
							border: thin solid var(--main-bg-color);
							border-radius: var(--border-radius2);
							padding: 0.1em;
							font-size: 0.8em;

							& > p {
								margin: 0;
								border-radius: var(--border-radius2);
								background-color: var(--main-bg-color);
								color: var(--blanc);
								padding: 0 0.5em;
								text-transform: capitalize;
							}
						}

						& > p {
							flex: 1;
							display: flex;
							align-items: center;
							text-align: justify;
						}
					}

					&:last-child {
						height: max-content;
						padding-bottom: 1vh; /*Pour palier au dépassement vers le bas causé par le soulignement des liens */
					}

					&:last-child > h4,
					&:last-child > p {
						margin: 0;
					}

					/* Partie détails haute */
					& > ul {
						display: flex;
						margin-bottom: 0.5em;
						overflow: auto;
						max-width: 100%;
					}
				}
			}
		}
	}
}

@media (orientation: portrait) {
	#conception > article {
		flex-direction: column;

		& > section {
			margin-left: 0;
			padding-left: 0;
			border-left: none;
			overflow: initial;

			margin-top: 1vh;
			padding-top: 2vh;
			border-top: 0.2em solid var(--main-bg-color);
		}

		& > ul > section {
			max-height: inherit;

			& > ul {
				height: min-content;
			}
		}
	}
}
