// scrollbar
::-webkit-scrollbar-track {
	background-color: var(--blanc);
}

::-webkit-scrollbar-thumb {
	background-color: var(--vert);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	color: var(--main-bg-color);
}

html {
	background-color: var(--blanc);
}

body {
	height: 100vh;

	& > main {
		flex: 1;
		padding: 1em 1em 1em 2em;
		display: flex;
		flex-direction: column;
		max-width: 80%; // Changé lors du changement de taille
		min-width: 50%; // Ne pas retirer, cela préserve le ratio lors du rétrécissement de la fenêtre

		& > ul {
			&:not([class]) {
				position: absolute;
				top: 2vh;
				right: 0;
				display: flex;
				flex-direction: row-reverse;

				// Le bouton de retour au projects
				& > li {
					width: 2.5em;
					margin-right: 2vh;
					cursor: pointer;
					align-items: center;

					// Le bouton d'affichage du menu pour les petis écrans
					&.menuAffichagePetit {
						display: none;
					}

					&:not(.menuAffichagePetit) {
						display: flex;
					}

					// Le bouton de changement de langue
					&:last-child {
						position: relative;
						margin-right: 4vh;
						width: 2em;

						&::after {
							position: absolute;
							width: 1em;
							bottom: 0;
							left: 1.5em;
							height: 45%;
						}
					}
				}
			}

			// Carousel
			& section {
				& > h3 {
					display: flex;
					width: 100%;
					margin-bottom: 1em;
				}

				& > p {
					margin-bottom: 0;
					text-align: justify;
					font-size: 0.9em;
				}
			}
		}

		// La section de haut de main
		& > section {
			& > h2 {
				font-size: 2.5em;
			}

			& > p {
				font-size: 0.9em;
				padding-right: 2em;
			}
		}
	}
}

// Le centre du main
.ulVertical, .ulHorizontal {
	&, & > * {
		flex: 1;
		display: flex;
		align-content: center;
		justify-content: center;

		// Temporary
		//overflow: auto;
	}

	& > section:only-child {
		flex: 1;
	}
}

.ulVertical > section:not(section:only-child) {
	max-width: 50%;
	padding: 0.5em;
}

.ulHorizontal > section:not(section:only-child) {
	max-height: 50%;
	padding: 0.5em;
}

.ulHorizontal, .ulVertical > section, .ulHorizontal > section, .contenuSimple > section {
	flex-direction: column;
}

.contenuSimple {
	&, & > section {
		flex: 1;
		display: flex;
	}
}

// image&texte
.imageEtTexte {
	display: flex;
	align-items: center;
	//justify-content: center;
	//overflow: hidden;
	padding: 1em 0.5em;

	& > img, & > video {
		border-radius: var(--border-radius2);
		height: 25vh;
		width: 50vh;
		object-fit: cover;
		box-shadow: var(--box-shadow);
		cursor: pointer;
		margin: 0 0.5em;

		&::before {
			background-color: lightgray;
			display: flex;
			height: 100%;
			border-radius: var(--border-radius2);
			align-items: center;
			justify-content: center;
		}

		&[modeVignette] {
			width: 25vh;
		}
	}

	& > section {
		height: 25vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex: 1;

		& > h4 {
			margin-bottom: 1em;
			color: var(--main-bg-color);
		}

		& > p {
			margin-top: 0;
			text-align: justify;
			font-size: 0.9em;
			flex: 1;
			overflow-y: auto;
		}
	}
}

// image
.image {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	overflow: hidden;
	border-radius: var(--border-radius2);

	& > img {
		//height: 30vh;
		max-height: 25vh;
		cursor: pointer;
		border-radius: var(--border-radius2);
		width: inherit;
	}
}

@media (max-width: 1000px) {
	body > main {
		max-width: inherit;
		padding: 1em;
	}
}

@media (max-width: 900px) {
	.imageEtTexte {
		flex-direction: column-reverse;
		//overflow-y: auto;

		& > img, & > img[modeVignette], & > video, & > video[modeVignette] {
			width: 100%;
			height: inherit;
		}

		& > section > p {
			//margin-top: 1em;
		}
	}
}

@media (orientation: portrait), (max-width: 900px) {
	body {
		height: inherit;
		min-height: 100vh;

		& > main {
			padding: 0 0 0 1%;
			max-width: 98%;
			margin: 3em 0 1em 0;

			& > section > p {
				padding-right: inherit;
			}

			& > ul section > h3 {
				margin-top: 3em;
				margin-bottom: 0.5em;
			}
		}
	}

	.ulVertical {
		flex-direction: column;

		& > * {
			max-width: inherit !important;
		}

		& > section, .ulHorizontal > section, & > ul {
			border: none !important; // Pour enlever l'affichage d'un border s'il y en a un
		}
	}

	.ulVertical, .ulHorizontal {
		flex: 1;

		& > * {
			//flex: initial;
			margin-right: 0 !important;
			padding-right: 0 !important;
		}

		& > section:not(section:only-child) {
			max-height: inherit;
			max-width: inherit;
		}
	}

	.image > img {
		height: inherit;
		max-height: inherit;
		width: 100%;
	}

	.imageEtTexte {
		margin: 0;
		padding: 0;

		& > section {
			height: inherit;
		}
	}
}
