::-webkit-scrollbar-track {
  background-color: var(--blanc);
}

::-webkit-scrollbar-thumb {
  background-color: var(--vert);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: var(--main-bg-color);
}

html {
  background-color: var(--blanc);
}

body {
  height: 100vh;
}
body > main {
  flex: 1;
  padding: 1em 1em 1em 2em;
  display: flex;
  flex-direction: column;
  max-width: 80%;
  min-width: 50%;
}
body > main > ul:not([class]) {
  position: absolute;
  top: 2vh;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
}
body > main > ul:not([class]) > li {
  width: 2.5em;
  margin-right: 2vh;
  cursor: pointer;
  align-items: center;
}
body > main > ul:not([class]) > li.menuAffichagePetit {
  display: none;
}
body > main > ul:not([class]) > li:not(.menuAffichagePetit) {
  display: flex;
}
body > main > ul:not([class]) > li:last-child {
  position: relative;
  margin-right: 4vh;
  width: 2em;
}
body > main > ul:not([class]) > li:last-child::after {
  position: absolute;
  width: 1em;
  bottom: 0;
  left: 1.5em;
  height: 45%;
}
body > main > ul section > h3 {
  display: flex;
  width: 100%;
  margin-bottom: 1em;
}
body > main > ul section > p {
  margin-bottom: 0;
  text-align: justify;
  font-size: 0.9em;
}
body > main > section > h2 {
  font-size: 2.5em;
}
body > main > section > p {
  font-size: 0.9em;
  padding-right: 2em;
}

.ulVertical, .ulVertical > *, .ulHorizontal, .ulHorizontal > * {
  flex: 1;
  display: flex;
  align-content: center;
  justify-content: center;
}
.ulVertical > section:only-child, .ulHorizontal > section:only-child {
  flex: 1;
}

.ulVertical > section:not(section:only-child) {
  max-width: 50%;
  padding: 0.5em;
}

.ulHorizontal > section:not(section:only-child) {
  max-height: 50%;
  padding: 0.5em;
}

.ulHorizontal, .ulVertical > section, .ulHorizontal > section, .contenuSimple > section {
  flex-direction: column;
}

.contenuSimple, .contenuSimple > section {
  flex: 1;
  display: flex;
}

.imageEtTexte {
  display: flex;
  align-items: center;
  padding: 1em 0.5em;
}
.imageEtTexte > img, .imageEtTexte > video {
  border-radius: var(--border-radius2);
  height: 25vh;
  width: 50vh;
  object-fit: cover;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  margin: 0 0.5em;
}
.imageEtTexte > img::before, .imageEtTexte > video::before {
  background-color: lightgray;
  display: flex;
  height: 100%;
  border-radius: var(--border-radius2);
  align-items: center;
  justify-content: center;
}
.imageEtTexte > img[modeVignette], .imageEtTexte > video[modeVignette] {
  width: 25vh;
}
.imageEtTexte > section {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.imageEtTexte > section > h4 {
  margin-bottom: 1em;
  color: var(--main-bg-color);
}
.imageEtTexte > section > p {
  margin-top: 0;
  text-align: justify;
  font-size: 0.9em;
  flex: 1;
  overflow-y: auto;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  overflow: hidden;
  border-radius: var(--border-radius2);
}
.image > img {
  max-height: 25vh;
  cursor: pointer;
  border-radius: var(--border-radius2);
  width: inherit;
}

@media (max-width: 1000px) {
  body > main {
    max-width: inherit;
    padding: 1em;
  }
}
@media (max-width: 900px) {
  .imageEtTexte {
    flex-direction: column-reverse;
  }
  .imageEtTexte > img, .imageEtTexte > img[modeVignette], .imageEtTexte > video, .imageEtTexte > video[modeVignette] {
    width: 100%;
    height: inherit;
  }
}
@media (orientation: portrait), (max-width: 900px) {
  body {
    height: inherit;
    min-height: 100vh;
  }
  body > main {
    padding: 0 0 0 1%;
    max-width: 98%;
    margin: 3em 0 1em 0;
  }
  body > main > section > p {
    padding-right: inherit;
  }
  body > main > ul section > h3 {
    margin-top: 3em;
    margin-bottom: 0.5em;
  }
  .ulVertical {
    flex-direction: column;
  }
  .ulVertical > * {
    max-width: inherit !important;
  }
  .ulVertical > section, .ulVertical .ulHorizontal > section, .ulVertical > ul {
    border: none !important;
  }
  .ulVertical, .ulHorizontal {
    flex: 1;
  }
  .ulVertical > *, .ulHorizontal > * {
    margin-right: 0 !important;
    padding-right: 0 !important;
  }
  .ulVertical > section:not(section:only-child), .ulHorizontal > section:not(section:only-child) {
    max-height: inherit;
    max-width: inherit;
  }
  .image > img {
    height: inherit;
    max-height: inherit;
    width: 100%;
  }
  .imageEtTexte {
    margin: 0;
    padding: 0;
  }
  .imageEtTexte > section {
    height: inherit;
  }
}
