@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,700&&display=swap");
/* Police du titre (font-family: 'Fredoka One', cursive;) */
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");
/* Police du reste de la page (font-family: 'Kalam', cursive;) */
:root {
	--main-bg-color: #364f6b;
	--second-bg-color: #3fc1c9;
	--flash-color: #fc5185;
	--orange: #f79a52;
	--blanc: #f5f5f5;
	--vert: #25ae60;
	--rouge: #d9515d;
	--noir: #252a33;
	--box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
	/* Petite ombre */
	--box-shadow2: 0px 10px 5px 5px rgba(0, 0, 0, 0.2);
	/* Grosse ombre */
	--box-shadow3: 0 5px 5px 1px rgba(0, 0, 0, 0.2);
	/* Grosse Petite sans dessus*/
	--border-radius: 15px;
	--border-radius2: 5px;
	--transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
	--transition2: 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

::-webkit-scrollbar {
	width: 0.5em;
}

::-webkit-scrollbar-track {
	border-radius: var(--border-radius2);
}

::-webkit-scrollbar-thumb {
	border-radius: var(--border-radius2);
}

html {
	scroll-behavior: smooth;
	min-height: 100vh;
	overflow-x: hidden;
	background-color: var(--noir);
}

ul, ol, menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Kalam", cursive;
	margin: 0;
	display: flex;
	overflow-x: hidden;
	position: relative;
	/* Texte d'erreur (404) */
	/* Animation des liens */
}

body > p {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

body > p > span:first-child {
	font-size: 15vh;
}

body a {
	text-decoration: none;
	transition: var(--transition);
	color: black;
	background-image: linear-gradient(120deg, var(--vert) 0%, var(--vert) 100%);
	background-repeat: no-repeat;
	background-size: 100% 10%;
	background-position: 0 88%;
	padding: 0.1em 0.2em;
	cursor: pointer;
}

body a:hover {
	background-size: 100% 100%;
	color: var(--blanc);
	border-radius: var(--border-radius2);
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway", sans-serif;
}

/* Affichage des messsages d'erreurs lors de la création de projects */
.erreur {
	box-shadow: var(--box-shadow);
	border-radius: var(--border-radius);
	background-color: #d93737;
	padding: 0 1em;
	display: flex !important;
	align-items: center;
	flex-grow: 0 !important;
	max-height: 10em;
	align-self: center;
	min-width: fit-content;
}

.erreur > section {
	flex: 1;
	margin: 0.2em;
	padding: 0.5em;
}

.erreur > section > p {
	margin: 0.5em 0;
	font-size: 0.9em;
}

.erreur :is(h2, a, p) {
	color: var(--blanc) !important;
}

.erreur img {
	height: 32px !important;
	width: 32px !important;
}

/*# sourceMappingURL=shared.css.map */
